body#shop {
	min-width: 1350px;
	background-color: #fff;
	font-family: "Playfair Display", Georgia, serif;
}

/*#shopWrap {
	margin: 120px 0 0 0;
	min-height: 600px;
}*/

#shopMeta {
	width: 275px;
	float: left;
	height: 100%;	
}

#shopLogo {
	background: url('../images/shop/shopTitle.png') no-repeat left center;
	width: 235px;
	height: 200px;
	margin: 120px 0px 0px 0px;
}

#shopLogo a {
	text-indent: -10000px;
	display: block;
	width: 100%;
	height: 100%;
}

.tertiaryNav {
	margin-left: 40px;
	width: 141px;
}

ul#shopLinks {
	list-style-type: none;
}

ul#shopLinks li {
	line-height: 20px;
	font-size: 10px;
}

ul#shopLinks a:link, ul#shopLinks a:visited {
	color: #000;
	text-decoration: underline;
	text-transform: uppercase;
}

ul#shopLinks a:hover, ul#shopLinks a:active {
	text-decoration: none !important;
}

#navLinks {	
	clear: both;
	text-align: center;
	display: inline-block;
}

#navLinks ul {
	list-style-type: none;
	font-family: "Playfair Display", Georgia, serif;
	bottom: -40px;
	position: relative;
	padding: 0px;
}

#navLinks ul li {
	float: left;
	font-size: 14px;
	margin: 0px 10px;
	letter-spacing: .1em;
}

#navLinks ul li a:link, #navLinks ul li a:visited {
	color: #000;
}

#navLinks ul li a:hover, #navLinks ul li a:focus {
	color: #990000;
	text-decoration: none !important;
}

#navLinks ul li.divider {
	padding: 0px 10px;
}

#shopTools {
	width: 250px;
	float: left;
	height: 472px;
	padding: 120px 0 0 0;
	text-align: center;
	margin-left: 30px;
}

body#shop #emailSubscribe {
	margin-top: 70px !important;
}

#shopContent {
	display: block;
	width: 540px;
	display: inline-block;
	float: left;
	border: 58px solid transparent;
	border-image:url('../images/shop/ShopBorder.png') 58 58 round;
	-webkit-border-image:url('../images/shop/ShopBorder.png') 58 58 round; /* Safari 5 and older */
	-o-border-image:url('../images/shop/ShopBorder.png') 58 58 round; /* Opera */
	margin-top: 60px;
}

.cartLink {
	background: url('../images/shop/cart-left.png') no-repeat left center,
		url('../images/shop/cart-right.png') no-repeat right center;
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 16px;
    text-transform: uppercase;
	width: 200px;
	height: 36px;
	margin: 0 auto;
	padding-top: 10px;
}

.cartLink a {
	display: block;
}

.custSvc {
	font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 16px;
	text-transform: uppercase;
	border-top: 4px double #000;
	padding-top: 10px;
	margin: 10px auto;
	width: 180px;
}

#social {
    margin: 80px 0 0 -25px;
    position: absolute;
}

h1.entry-title:after {
	display: none;
}

h1.product_title {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #000;
	text-align: right;
	margin-bottom: 0px;
}

h2.categoryName span {
	font-family: 'sheepmanlight', arial, sans-serif;
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
	font-style: normal;
	font-size: 85%;
}

.price {
	font-family: "Oswald", arial, sans-serif;
	color: #990000;
	margin: 0px;
}

#shopContent h1.page-title,
ul.tabs,
.woocommerce-result-count,
.woocommerce-ordering {
	display: none;
}

.thumbnails {
    float: left !important;
    width: 180px;
    margin-right: 10px;
}

.woocommerce-main-image {
	display: inline-block;
}

.thumbnails a img {
	margin: 0px 0px 5px 5px;
}

a.woocommerce-main-image img {
	margin: 0px auto;
	display: block;
}

#shop .images {
	margin-top: 20px;
	width: 500px;
	text-align: center;
}

.summary {
	float: left !important;
	width: 220px;
	font-size: 13px;
	margin-top: 30px;
	text-align: right;
	background: url('../images/shop/cart-right.png') no-repeat right top;
	padding-right: 25px;
	padding-top: 5px;
	margin-left: -20px;
	clear: both;
}

.woocommerce-tabs {
	font-size: 14px; 
	font-family: "Oswald", arial, sans-serif;
	float: right !important;
	margin: 30px -30px;
	width: 300px; /* 480 */
	position: relative;
	clear: none !important;
}

#tab-description {
	margin-top: -20px;
}

.shop_table.cart {
	width: 540px;
}

.coupon,
.cart-collaterals,
.shipping_calculator
 { margin: 40px 0px; }

.coupon label,
.coupon input {
//	display: block;
}

dl.variation { margin: 0px !important; }

.quantity {
    float: left;
    margin: 25px 0 0 0;
}

input.qty.text {
	width: 25px;
	text-align: center;
}

input.plus, input.minus {
	border: none;
	color: #990000;
	background: transparent;
}

button.single_add_to_cart_button {
    background-color: #990000;
    border: medium none;
    border-radius: 30px;
    color: #F7EFD5;
    font-family: "Playfair Display",Georgia,serif;
    font-style: italic;
//    height: 60px;
    line-height: 12px;
    margin: 10px;
//    width: 60px;
    padding: 5px;
}

.woocommerce-message {
	margin: 30px auto;
}

li.product {
	width: 240px;
	float: left;
	list-style-type: none;
	text-align: center;
	line-height: 15px;
	margin-bottom: 50px;
	min-height: 270px;
}

li.product a {
	color: #000;
	font-size: 12px;
}

li.product h3 {
	letter-spacing: .05em;
	font-weight: normal;
	font-variant: small-caps;
	text-transform: lowercase;
	margin: 0px;
}

li.product .price {
	display: block;
	line-height: 20px;
}

.button.product_type_variable,
li.product .add_to_cart_button {
    background-color: #990000;
    border: medium none;
    border-radius: 30px;
    color: #F7EFD5;
    font-family: "Playfair Display",Georgia,serif;
    font-style: italic;
//    height: 30px;
    margin: 10px auto;
//    width: 40px;
    padding: 10px 5px;
    display: block;
    font-size: 14px !important;
}


/* SHOPPING CART */

tr.cart_table_item .product-name .variation dt {
	float: left;
}

tr.cart_table_item .product-quantity .quantity {
	margin-top: 0px;
}


.variations_form { 
	margin-top: 20px; 
	float: right;
}

a.reset_variations {
	display: block;
	font-size: 10px;
	}
	
table.variations td.label {
	vertical-align: top;
}

body.single-product .quantity.buttons_added { margin-left: 40px; }

#shopHdr { text-align: center; margin: -100px auto 40px; }
#shopHdr img { margin: 0px auto; }

.related,
.upsells {
	clear: both;
	margin-top: 80px;
	display: inline-block;
	width: 100%;
}

.product_meta {
	font-size: 12px
}

.product_meta > span  {
	display: block;
}

.woocommerce-pagination {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.woocommerce-pagination ul {
	margin: 0 auto;
	display: inline-block;
}

.woocommerce-pagination ul li {
	float: left;
	margin: 10px;
}

/***** CHECKOUT ****/

.woocommerce-checkout h3 {
	font-family: 'sheepmanlight', arial, sans-serif;
	font-weight: normal;
	font-size: 150%;
	text-transform: uppercase;
}

.cart_totals {
	font-size: 90%;
	line-height: 125%;
}

.cart_totals th {
	width: 120px;
	text-align: right;
	padding: 0 15px;
}

.cart_totals th, .cart_totals td {
	vertical-align: super;
}

form.checkout {
	font-family: 'Oswald', sans-serif;
}

form.checkout label {
	margin-right: 15px;
}

input#billing_address_2 {
	margin-left: 75px;
}

#billing_state_chzn.chzn-container {
	width: auto !important;
}

#order_comments { width: 100%; }

.shop_table dt, .shop_table dd {
	margin: 0px !important;
}

dl.variation {
	color:#808080;
	font-size: 75%;
}

dl.variation dt { float: left; margin-right: 3px; } 

.shop_table {
	text-align: left;
	vertical-align: top;
}

.shop_table th {
	padding-right: 20px;
}

td.product-name { padding-right: 20px; }
td.product-total { vertical-align: top; }
td.product-thumbnail { padding-right: 20px; }

body.woocommerce-cart #shopWrap #shopContent h1 { display: none; }


#SSLseal {
	display: block;
	padding: 40px;
}
