/* PROPERTY MAP */

@media screen and (min-width: 1024px) {
    body#map {
    	background: url('../images/RLI_Map2.jpg') #FBF5DE no-repeat center 85px;
    }
}

@media screen and (max-width: 1023px) {
    body#map {
    	background: url('../images/RLI_Map2.jpg') #FBF5DE no-repeat -142px -275px;
    }
}

body#map #interiorMiddleWrap {
    padding-top: 45px;
}

#propertyMap {
	display: block;
	height: 650px;

    @media (max-width: 1023px) {
        height: auto;
        width: 90%;
        margin: 0 auto;
        padding-top: 160px;
    }
}

#propertyMap .mapPoint, #propertyMap .mapAlt, #propertyMap .mapAlt2 {
	display: block;
	position: absolute;
	overflow: hidden;
	text-indent: -10000px;
	padding: 0px;

    @media (max-width: 1023px) {
        position: static;
        width: 100%;
        height: auto !important;
        text-indent: 0;
        top: 0 !important;
        left: 0 !important;
        overflow: visible;
        padding-bottom: 40px !important;
    }
}

#propertyMap .mapPoint p, #propertyMap .mapAlt p, #propertyMap .mapAlt2 p {
	margin-top: 0px;
}

#propertyMap .mapPoint:hover {
	background: url('../images/mapPopup.png') no-repeat left top;
	padding: 20px 177px 40px 56px;
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #fcf4df;
	text-align: center;
	letter-spacing: 0.05em;
	position: absolute;
	cursor: pointer;
	text-indent: 0px;

    @media (max-width: 1023px) {
        background: none;
        padding: 0 0 40px 0;
        position: static;
        color: #222;
        font-size: 16px;
        font-family: sans-serif;
        text-align: left;
        letter-spacing: 0.04em;
        cursor: default;
    }
}

#propertyMap .mapAlt:hover {
	background: url('../images/mapPopup.png') no-repeat right bottom;
	padding: 20px 177px 40px 56px;
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #fcf4df;
	text-align: center;
	letter-spacing: 0.05em;
	position: absolute;
	cursor: pointer;
	text-indent: 0px;

    @media (max-width: 1023px) {
        background: none;
        padding: 0 0 40px 0;
        position: static;
        color: #222;
        font-size: 16px;
        font-family: sans-serif;
        text-align: left;
        letter-spacing: 0.04em;
        cursor: default;
    }
}

#propertyMap .mapAlt2:hover {
	background: url('../images/mapPopup.png') no-repeat right bottom;
	padding: 20px 177px 40px 56px;
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #fcf4df;
	text-align: center;
	letter-spacing: 0.05em;
	position: absolute;
	cursor: pointer;
	text-indent: 0px;

    @media (max-width: 1023px) {
        background: none;
        padding: 0 0 40px 0;
        position: static;
        color: #222;
        font-size: 16px;
        font-family: sans-serif;
        text-align: left;
        letter-spacing: 0.04em;
        cursor: default;
    }
}


.popA:hover { background-image: url('../images/mapPopup_a.png') !important;
    @media (max-width: 1023px) {
        background-image: none !important;
    }
}
.popB:hover { background-image: url('../images/mapPopup_b.png') !important;
    @media (max-width: 1023px) {
        background-image: none !important;
    }
}
.popC:hover { background-image: url('../images/mapPopup_c.png') !important;
    @media (max-width: 1023px) {
        background-image: none !important;
    }
}
.popD:hover { background-image: url('../images/mapPopup_d.png') !important;
    @media (max-width: 1023px) {
        background-image: none !important;
    }
}
.popE:hover { background-image: url('../images/mapPopup_e.png') !important;
    @media (max-width: 1023px) {
        background-image: none !important;
    }
}
.popF:hover { background-image: url('../images/mapPopup_f.png') !important; background-position: center bottom !important;
    @media (max-width: 1023px) {
        background-image: none !important;
    }
}

.mapInfo h1 {
	font-family: 'sheepmanlight';
	font-style: normal;
	margin-top: 15px;
	text-transform: uppercase;
	letter-spacing: .03em;
}

.mapInfo h1:after {
	display: none;
}

.mapInfo {
	width: 168px;
	margin-left: -2px;

    @media (max-width: 1023px) {
        width: 100%;
        height: auto !important;
    }
}

.mapInfo p {
	line-height: 21px;
}

.mapAlt .mapInfo {
    bottom: 28px;
    position: inherit;
    right: 53px;
    height: 180px;
}

.mapAlt .learnMore {
     position: absolute;
   left: -46px;
    top: 76px;
}

.mapAlt .bookIt {
    position: absolute;
   left: 182px;
    top: 76px;
}


.mapAlt2 .mapInfo {
    bottom: 28px;
    position: inherit;
    right: 53px;
    height: 180px;
}

.mapAlt2 .learnMore {
     position: absolute;
   left: -46px;
    top: 76px;
}

.mapAlt2 .bookIt {
    position: absolute;
   left: 182px;
    top: 76px;
}

.bookIt {
	background: url('../images/bookIt.png') no-repeat center top;
    display: block;
    height: 25px;
    position: absolute;
    text-indent: -10000px;
    width: 27px;
    left: 240px;
    top: 96px;

    @media (max-width: 1023px) {
        position: static !important;
        background: none !important;
        text-indent: 0 !important;
        width: 100% !important;
        height: auto !important;
        display: block !important;
        font-family: 'Playfair Display';
        font-style: italic;
        font-weight: 400;
        letter-spacing: .06em;
        text-align: center;
        line-height: 110%;
        color: #900;
        padding-bottom: 10px;
    }
}

.learnMore {
	background: url("../images/learnMore.png") no-repeat scroll center top transparent;
    display: block;
    height: 26px;
    position: absolute;
    text-indent: -10000px;
    width: 31px;
    left: 11px;
	top: 97px;

    @media (max-width: 1023px) {
        position: static !important;
        background: none !important;
        text-indent: 0 !important;
        width: 100% !important;
        height: auto !important;
        display: block !important;
        font-family: 'Playfair Display';
        font-style: italic;
        font-weight: 400;
        letter-spacing: .06em;
        text-align: center;
        line-height: 110%;
        color: #900;
        padding-bottom: 10px;
    }
}

.learnMore:hover, .bookIt:hover {
	background-position: center bottom;
}

.mapPoint .learnMore, .mapPoint .bookIt, .mapAlt .learnMore, .mapAlt .bookIt, .mapAl2t .learnMore, .mapAlt2 .bookIt { display: none; }

.mapPoint:hover .learnMore,
.mapPoint:hover .bookIt,
.mapAlt:hover .learnMore,
.mapAlt:hover .bookIt,
.mapAlt2:hover .learnMore,
.mapAlt2:hover .bookIt { display: block !important; }


#propertyMap div:hover h1 {
	color: #fcf4df;
	font-size: 20px;
	text-align: center;
	margin-bottom: 0px;

    @media (max-width: 1023px) {
        font-family: 'sheepmanlight';
        font-size: 2em;
        color: #900;
        margin-bottom: .67em;
    }


}

.map_Firehouse {
	height: 75px;
    left: 458px;
    top: -10px;
    width: 76px;
}

.map_Firehouse:hover {
    height: 169px;
    left: 151px;
    top: -51px;
    width: 165px;
}

.map_Obrien {
    height: 76px;
    left: 566px;
    top: -55px;
    width: 50px;
}

.map_Obrien:hover {
    height: 169px;
    left: 295px;
    top: -65px;
    width: 120px;
}


.map_Elm {
    height: 47px;
    left: 275px;
    top: 63px;
    width: 54px;
}

.map_Elm:hover {
    height: 169px;
    left: -34px;
    top: 1px;
    width: 128px;
}

.map_RLI {
    height: 174px;
    left: 344px;
    top: 254px;
    width: 277px;
}

.map_RLI:hover {
    height: 170px;
    left: 140px;
    top: 201px;
    width: 238px;
}

.map_McGregor {
    height: 56px;
    left: 693px;
    top: 26px;
    width: 80px;
}

.map_McGregor:hover {
    height: 169px;
    left: 392px;
    top: -15px;
    width: 155px;
}

.map_2Maple {
    height: 64px;
    left: 614px;
    top: -55px;
    width: 74px;
}

.map_2Maple:hover {
    height: 170px;
    left: 617px;
    top: -128px;
    width: 164px;
}

.map_MapleGlen {
    height: 116px;
    left: 752px;
    top: 116px;
    width: 187px;
}

.map_MapleGlen:hover {
    height: 306px;
    left: 722px;
    top: 113px;
    width: 48px;
}

.map_Stafford {
    height: 64px;
    left: 614px;
    top: 234px;
    width: 86px;
}

.map_Stafford:hover {
    height: 212px;
    left: 613px;
    top: 231px;
    width: 170px;
}

.map_Stevens {
    height: 96px;
    left: -86px;
    top: 534px;
    width: 104px;
}

.map_Stevens:hover {
    height: 169px;
    left: -81px;
    top: 380px;
    width: 171px;
}

.map_Courtyard {
    height: 34px;
    left: 304px;
    top: 248px;
    width: 77px;
}

.map_Courtyard:hover {
    height: 170px;
    left: -16px;
    top: 159px;
    width: 168px;
}

.map_Meadowlark {
    height: 84px;
    left: 384px;
    top: 493px;
    width: 106px;
}

.map_Meadowlark:hover {
    height: 170px;
    left: 59px;
    top: 403px;
    width: 238px;
}

.map_Heather {
    height: 47px;
    left: 315px;
    top: 133px;
    width: 54px;
}

.map_Heather:hover {
    height: 169px;
    left: 14px;
    top: 85px;
    width: 120px;
}

.map_Pool {
    height: 84px;
    left: 404px;
    top: 173px;
    width: 128px;
}

.map_Pool:hover {
    height: 168px;
    left: 85px;
    top: 48px;
    width: 216px;
}

.map_Yellow {
    height: 84px;
    left: 533px;
    top: 133px;
    width: 83px;
}

.map_Yellow:hover {
    height: 170px;
    left: 209px;
    top: 67px;
    width: 172px;
}

.scrollDown {
	display: block;
	width: 118px;
	height: 109px;
	background: url("../images/scrolldown.png") no-repeat scroll center center transparent;
	position: absolute;
	top: 99px;
	left: 58px;
	text-indent: -1000px;

    @media (max-width: 1023px) {
        display: none;
    }
}
