body.denHome, body.denPage {
	background: url('../images/den/denBG2.jpg') no-repeat center top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #731B07;
}

body.page-id-508 {
	background: url('../images/den/denBG3.jpg') no-repeat center top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #000;
}

#lionsden #denWrap {
	min-height: 630px;
	background: url('../images/den/denBGMask.png') no-repeat center top;
	width: 1144px;
	margin: 0 auto;
	padding-top: 164px;
    position: relative;
    top: 6px;

    @media (max-width: 1023px) {
        background: none;
        width: 100%;
        padding-top: 0;
    }
}

#lionsden a:link, #lionsden a:visited {
	color: #fff !important;
//	text-decoration: underline;
}

#lionsden a:active, #lionsden a:hover, #lionsden a:focus {
	text-decoration: none !important;
	color: #E5BA6A !important;
}

#masthead {
	width: 1144px !important;
	margin: 0 auto !important;
	position: relative !important;
	text-align: center !important;

	@media (max-width: 1023px) {
		width: 100% !important;
        background: none !important;
        border-bottom: none !important;
    }
}

#masthead:after {
	@media (max-width: 1023px) {
        display: none !important;
    }
}

.homeBanner {
	left: 376px !important;
}

.denLogo {
	display: block;
	width: 595px;
	margin: 36px auto;

	@media (max-width: 1023px) {
        height: auto;
        max-width: 100%;
        width: auto;
    }
}

.page-template-lionsden-php .denLogo {
	display: block;
	width: 595px;
	margin: 36px auto;
}


ul#denNav {
	margin: 0 auto;
	width: 740px;

	@media (max-width: 1023px) {
        width: 100%;
        padding-left: 0;
    }
}

ul#denNav li {
	float: left;
	list-style-type: none;
	text-indent: -10000px;
	margin: 0 50px;

	@media (max-width: 1023px) {
        float: none;
        display: block;
        width: 100%;
        margin: 0 auto;
    }
}

ul#denNav li a {
	background-position: center top;
	display: block;
	height: 110px;

	@media (max-width: 1023px) {
        margin: 20px auto;
    }
}

.calendar {
	background-image: url('../images/den/entertainmentCalendar.png');
	width: 130px;
}

.menu-bar {
	background-image: url('../images/den/denMenu.png');
	width: 135px;

	@media (max-width: 1023px) {
        margin-right: 20px;
    }
}

.profiles {
	background-image: url('../images/den/artistProfiles.png');
	width: 110px;
}

ul#denNav li a:hover {
	background-position: center bottom;
}

a.learnHistory {
	width: 129px;
	margin-left: 335px;
	background-image: url('../images/den/learnTheHistory.png');
	height: 68px;
	color: transparent;
	display: block;
}

a.learnHistory:hover {
	background-position: center bottom;
}


#denBottom {
	width: 785px;
	margin: 0 auto;
	display: block;
//	padding-top: 170px;
	text-align: center;

	@media (max-width: 1023px) {
        width: 100%;
        padding-top: 30px;
    }
}

#social {
	margin: 60px 0px 0px 0px !important;
	float: left;
	background: url('../images/den/stayconnected-wh.png') no-repeat center top !important;

	@media (max-width: 1023px) {
        float: none;
    }
}

#social ul li a {
	text-indent: -10000px;
	display: block;
	height: 38px;
	width: 62px;
	background-image: url('../images/den/socialicons-wh2.png');
}

.denFooter {
	margin: 70px 0 0 -12px;
	padding-bottom: 20px;

	@media (max-width: 1023px) {
        max-width: 100%;
        height: auto;
        width: auto;
    }
}

#lionsden.page-template-lionsden-php #denBottom {
	padding: 0 0 50px;
}

#denBody {
	display: block;
	clear: both;
	background: rgba(71, 23, 35, 0.9);
	margin: -6px auto 0px auto;
    position: relative;
    top: -24px;
    width: 700px;
    padding: 60px 200px;
	-moz-border-radius: 0 0 40px 40px;
	-webkit-border-radius: 0 0 40px 40px;
    border-radius: 0 0 40px 40px;
    color: #fff;
	font-family: 'Playfair Display', Georgia, serif;

	@media (max-width: 1023px) {
        width: 90%;
        margin: 0 auto;
        position: static;
        padding: 50px 5%;
    }
}

#lionsden h1 {
	color: #fff;
	font-weight: normal;
}

#lionsden h1 span {
	font-size: 75%;
	display: block;
}

#lionsden h1:after {
	background: url('../images/hdr-ornament-white.png') no-repeat !important;
}

#lionsden.denPage #denWrap {
	min-height: 251px;
	z-index: 89;
}

p.header {
	font-style: italic;
	font-size: 125%;
	text-align: center;
}

.artistProfile {
	display: block;
	padding: 25px 0px 25px 210px;
	border-top: 2px dotted #fff;
	min-height: 175px;
	font-family: "Oswald", arial, sans-serif;
	line-height: 180%;
	position: relative;

	@media (max-width: 1023px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.artistProfile p {
	margin: 5px 0 10px;
}

.artistProfile h1 {
	font-family: 'sheepmanlight', arial, sans-serif;
	font-style: normal;
	text-align: left;
	margin-bottom: 0px !important;
}

.artistProfile h1:after {
	display: none;
}

.artistProfile:last-child {
	border-bottom: 2px dotted #fff;
}

.artistProfile img {
	float: left;
	padding: 5px;
	background-color: #000;
	margin-right: 20px;
	position: absolute;
	left: 0;
	top: 25px;

	@media (max-width: 1023px) {
        float: none;
        position: static;
        top: 0;
    }
}

.webLink {
	font-family: 'Playfair Display', Georgia, serif;
	font-style: italic;
}

.webLink a {
	text-decoration: underline;
	font-family: "Oswald", arial, sans-serif;
	color: #fff;
	font-style: normal;
}

.webLink a:hover {
	color: #fff !important;
	text-decoration: none !important;
}

.eventDate {
	color: #fff;
	background-color: #000;
}

.eventDate span {
    display: block;
    font-size: 50%;
    margin-top: 13px;
    color: #fff !important;
}

a.artistURL {
	background-color: #990000;
	color: #fff !important;
	padding: 0 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.tribe-events-calendar-buttons {
	display: none;
}

/* MENU */

body.page-id-1831 #denBody {
	text-align: center;
}

#dineMenuLinks li a {
	text-decoration: none;
}

.menuPrice {
	color: #E5BA6A;
}

h3.menuCategory:before {
	content: "{";
	background: none;
}

h3.menuCategory:after {
	content: "}";
	background: none;
}

#dineMenuLinks li a:after {
	background: url("../images/den/nav2-ornament-w.png") no-repeat scroll center top transparent;
}

/* ENTERTAINMENT HOURS */

.denHours {
	float: right;
    margin: 60px 50px 0;
	color: #fff;
	font-family: "Playfair Display", Georgia, serif;
	background: url("../images/den/denFooter-ornament.png") no-repeat scroll left center,
		url("../images/den/denFooter-ornament.png") no-repeat scroll right center;
	padding: 0px 20px;

	@media (max-width: 1023px) {
        float: none;
        margin: 50px auto 0 auto;
        background: none;
    }
}

.denHours .hoursTitle {
	text-transform: uppercase;
	letter-spacing: .2em;
}

.denHours em {
	font-size: 14px;
	font-family: "Playfair Display", Georgia, serif;
	letter-spacing: .025em;
}

.denHours p {
	margin: 0px;
	line-height: 24px;
	font-family: "sheepmanlight", arial, sans-serif;
	font-size: 19px;
	letter-spacing: .1em;
}




