body.page-id-330 #interiorMiddleWrap {
	margin-top: -500px !important;
	min-height: 280px;
}

body.community #interiorMiddleWrap {
	margin-top: 0px !important;
}

body.community #interiorWrap {
	margin-top: 250px !important;

	@media (max-width: 1023px) {
		margin-top: 0 !important;
	}
}

body.community .flexslider {
	position: absolute !important;
	margin: -20px 65px !important;

	@media (max-width: 1023px) {
		position: static !important;
		margin: 10px 0 0 0 !important;
	}
}


#community #interiorMiddle {
	width: 334px;
	background:
		url('../images/midBottom.png') no-repeat center bottom,
		url('../images/midBG.png') repeat-y center;
	padding: 0px 30px 50px;
	margin-top: -150px;
	font-family: "Oswald", arial, sans-serif;
	line-height: 200%;
	letter-spacing: 0.05em;
	position: relative;

	@media (max-width: 1023px) {
		background: none;
		width: 100%;
		margin-top: 0;
		padding-bottom: 0;
	}
}

#community #interiorMiddleWrap {
	padding-top: 218px;
	background: url('../images/midTop.png') no-repeat center top;
	margin-top: -70px;
	position: relative;

	@media (max-width: 1023px) {
		background: none;
		padding-top: 30px;
	}
}

body#community #interiorWrap {
	display: block;
	margin-top: 180px;
	position: relative;
}

body.employment #interiorWrap {
	margin-top: 310px !important;

	@media (max-width: 1023px) {
		margin-top: 0 !important;
	}
}

body.amenities #interiorLeft {
	margin: 10px 0px;
	text-transform: uppercase;
	background: url('../images/info/amenities.png') no-repeat;
	line-height: 22px;
	width: 310px;
    position: relative;
    z-index: 1;

    @media (max-width: 1023px) {
		background-position: top center;
		padding-top: 110px;
		padding-bottom: 20px;
	}
}

#interiorLeft p {
	margin: 18px 30px;
	font-size: 20px;
	font-family: 'sheepmanlight';
	text-align: right;

	@media (max-width: 1023px) {
		text-align: center;
	}
}

body.amenities #interiorLeft p {
	margin: 15px 30px !important;
}

#interiorRight {
	text-align: left;
	font-family: 'Oswald', Arial, sans-serif;
	width: 285px;
	margin: 0px 0;
	position: relative;
	z-index: 1;
}

body.amenities #interiorRight {
	line-height: 170%;
	font-size: 15px;
	background: url('../images/info/activities.png') no-repeat right 10px;
	letter-spacing: .03em;
    position: relative;
    z-index: 1;

    @media (max-width: 1023px) {
		background-position: top center;
		padding-top: 110px;
	}
}

body.amenities #interiorRight p {
	margin-bottom: 20px;
}

body.amenities #interiorRight a:link, a:visited {
	color: #000 !important;
	display: block;
}

body.amenities #interiorRight a:hover, a:active {
	color: #990000 !important;
}

.page-id-2459 .id2459,
.page-id-2118 .id2118,
.page-id-1806 .id1806,
.page-id-2115 .id2115,
.page-id-2114 .id2114,
.page-id-2112 .id2112,
.page-id-2110 .id2110,
.page-id-2108 .id2108,
.page-id-2102 .id2102,
.page-id-2100 .id2100,
.page-id-1719 .id1719,
.page-id-1723 .id1723,
.page-id-1725 .id1725,
.page-id-1727 .id1727,
.page-id-1733 .id1733,
.page-id-1735 .id1735,
.page-id-1737 .id1737,
.page-id-1739 .id1739,
.page-id-1743 .id1743,
.page-id-1745 .id1745 {
	color: #990000 !important;
}

.page-id-2459 .id2459:after,
.page-id-1806 .id1806:after,
.page-id-2115 .id2115:after,
.page-id-2114 .id2114:after,
.page-id-2112 .id2112:after,
.page-id-2110 .id2110:after,
.page-id-2108 .id2108:after,
.page-id-2102 .id2102:after,
.page-id-2100 .id2100:after,
.page-id-1719 .id1719:after,
.page-id-1723 .id1723:after,
.page-id-1727 .id1727:after,
.page-id-1733 .id1733:after,
.page-id-1735 .id1735:after,
.page-id-1737 .id1737:after,
.page-id-1739 .id1739:after,
.page-id-1743 .id1743:after,
.page-id-1745 .id1745:after
{
	content: ' ➤';
}



.amenities h3 {
	font-family: 'sheepmanlight';
	font-size: 23px;
	color: #000;
	font-weight: normal;
	margin: 0;
}

#interiorLeft p a {
	font-size: 20px;
	font-family: 'sheepmanlight';
	text-align: right;
	text-decoration: none;
	color: #000;
}

body.press #interiorLeft {
	margin-top: 70px;
	position: relative;
	z-index: 1;
}

body.press #interiorRight h2 { letter-spacing: .02em; margin-top: 80px; }

body.press #interiorRight h2 span {
	font-family: "Playfair Display", Georgia, serif;
	color: #000;
	font-size: 14px;
}

body.press #interiorRight p {
	font-style: italic;
	font-family: "Playfair Display", Georgia, serif;
	font-size: 12px;
	text-align: left;
}

.pressRelease a {
	letter-spacing: .04em;
	font-size: 13px;
	color: #000;
	line-height: 30px;
}

.pressRelease a:hover {
	color: #990000;
}

a.moreLink {
	display: block;
	height: 68px;
	width: 59px;
	background: url('../images/moreLink.png') no-repeat;
	background-position: left top;
	text-indent: -10000px;
	margin-top: 20px;

	@media (max-width: 1023px) {
		margin-left: auto;
		margin-right: auto;
	}
}

a.moreLink:hover {
	background-position: -58px top;
}

.pressHdr {
    left: 460px;
    position: absolute;
    top: -20px;
    z-index: 99;
}

body.press #interiorMiddle {
	padding-top: 30px !important;
	text-align: center !important;
}

.pressContact {
	padding: 20px 0;
	font-size: 18px;
	font-style: italic;
	font-family: "Playfair Display", Georgia, serif;
	border-top: 1px dotted #000;
	border-bottom: 1px dotted #000;
}

body.berkshires #interiorLeft {
	width: 280px !important;
	margin: 30px 0 0 !important;

	@media (max-width: 1023px) {
		width: 100% !important;
		margin: 0 !important;

		h1 {
			text-align: center;
		}
	}
}

body.berkshires #interiorLeft,
body.berkshires #interiorRight,
body.berkshires #interiorMiddleWrap, {
	@media (max-width: 1023px) {
		position: static !important;
		top: 0 !important;
	}
}

body.berkshires #interiorMiddleWrap {
	@media (max-width: 1023px) {
		clear: both;
		padding-top: 200px !important;
	}
}

#interiorLeft h1 {
	text-align: right;

	@media (max-width: 1023px) {
		text-align: center;
	}
}

#interiorLeft h1:after {
	display: none;
}

.page-id-417 #interiorMiddle h1 {
	display: none;
}

ul.berkshires,
ul.berkshires ul,
ul.berkshires ul li ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul.berkshires a {
	text-decoration: none;
	color: #000;
}

ul.berkshires li a:hover,
ul.berkshires li ul li a:hover {
	color: #990000;
}

ul.berkshires li.cat-item {
	font-family: 'sheepmanlight', arial, sans-serif;
	margin-top: 20px;
	font-size: 20px;
	text-transform: uppercase;

	@media (max-width: 1023px) {
		display: block;
	}
}

ul.children li.cat-item {
	font-family: 'Oswald', arial, sans-serif;
	font-size: 16px;
	text-transform: none !important;
	margin: 0px;
	line-height: 150%;
}

.berkshiresItem h1 {
	margin-bottom: 10px;
	font-size: 1.6em;
	}

.berkshiresItem h1:after {
	display: none;
}

.berkshiresItem {
}

.berkshiresItem:after {
    background: url("../images/nav2-ornament.png") no-repeat scroll center top transparent;
    content: "";
    display: block;
    height: 6px;
    margin: 30px auto;
    width: 69px;
}

.berkshiresAddress1 {
	font-size: 18px;
	font-family: 'sheepmanlight', arial, sans-serif;
	text-align: center;
}

.berkshiresAddress2 {
	font-size: 14px;
	text-align: center;
}

.berkshiresHours {
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
}

.berkshiresURL a {
	text-align: center;
	color: #000;
	display: block;
	font-size: 14px;
	margin-top: 10px;
}

.berkshireCatTitle {
	font-size: 36px;
	line-height: 36px;
	letter-spacing: .02em;
	font-family: 'sheepmanlight', arial, sans-serif;
	text-align: right;
	margin-bottom: 30px;

	@media (max-width: 1023px) {
		text-align: center;
	}
}

.berkshireCatDesc {
	font-family: 'Oswald', arial, sans-serif;
	font-size: 16px;
	text-align: right;
	line-height: 150%;
	width: 85%;
	float: right;

	@media (max-width: 1023px) {
		text-align: left;
		width: 90%;
		float: none !important;
		margin: 0 auto;
	}
}

body.berkshires #interiorLeft h1 {
	font-size: 38px;
}

body.berkshires #interiorMiddle {
	margin-top: -182px !important;
}

ul.tertiaryNav.historyNav {
	width: 280px;
}

.historyNav li {
	font-size: 14px !important;
	letter-spacing: .15em !important;
}

.historyNav span {
	display: block;
	font-family: 'Playfair Display', Georgia, serif;
	font-style: italic;
	text-transform: none !important;
	letter-spacing: .05em !important;
}

.historyNavHdr {
	font-family: 'Playfair Display', Georgia, serif;
    font-size: 16px;
    font-style: italic;
    margin: 30px auto 10px;
    text-align: center;
    width: 280px;
}

.page-ourstory #interiorWrap {
	margin-top: 190px !important;

	@media (max-width: 1023px) {
		margin-top: 0 !important;
	}
}

.page-ourstory #interiorMiddle {
	margin-top: -12px !important;
}

.page-ourstory #interiorMiddleWrap {
	padding-top: 80px !important;
}

