/*!
Theme Name: Red Lion Inn
Theme URI: http://www.redlioninn.com/
Description: Custom theme for The Red Lion Inn, created in 2013.
Author: Housatonic Creative
Author URI: http://www.housatoniccreative.com/
Version: 1.0

Designed by Christopher Beacco. Developed by Enrico Spada.

*/

@import url(//fonts.googleapis.com/css?family=Playfair+Display:400,400italic);
@import url(//fonts.googleapis.com/css?family=Sail);
@import url(//fonts.googleapis.com/css?family=Oswald:300);

/*WP Styles */
.aligncenter {
	margin: 0 auto;
	display: block;
}

.alignleft {
	float: left;
	display: block;
}

.alignright {
	float: right;
	display: block;
}

img.alignleft,
img.alignright,
img.aligncenter {
	@media (max-width: 1023px) {
		float: none;
		margin: 10px auto !important;
		text-align: center;
	}
}

@media screen and (min-height:994px) {
body#home {
	background: url('images/HomeSlider-Room.jpg') no-repeat fixed center center #FFFFFF !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
}

@media screen and (max-height: 1153px) {
body#home {
	background: url('images/HomeSlider-Room.jpg') no-repeat scroll center top #FFFFFF !important;
	-webkit-background-size: auto 1170px;
	-moz-background-size:  auto 1170px;
	-o-background-size:  auto 1170px;
	background-size:  auto 1170px;
	}
}

@font-face {
    font-family: 'sheepmanlight';
    src: url('fonts/flat-it_-_sheepman-light-webfont.eot');
    src: url('fonts/flat-it_-_sheepman-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/flat-it_-_sheepman-light-webfont.woff') format('woff'),
         url('fonts/flat-it_-_sheepman-light-webfont.ttf') format('truetype'),
         url('fonts/flat-it_-_sheepman-light-webfont.svg#sheepmanlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background-color: #fbf5de;
}

#page404 span {
	display: block;
	font-family: 'sheepmanlight', arial, sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	font-style: normal;
	margin: 10px auto;
}

#page404 img {
	margin: 0 auto;
}

#page404 {
	text-align: center;
	font-family: 'Playfair Display', Georgia, serif;
	font-style: italic;
	font-size: 20px;
}

#page404 a {
	text-decoration: underline;
}

#page404 a:hover {
	text-decoration: none !important;
}

#page404 a:before {
	content: '';
	background: url('images/handleft.png');
	display: block;
	height: 22px;
	width: 43px;
	margin: 5px auto;
}

body#meet-landing {
	background: url('images/meet-bg.jpg');
}

#mainWrap {
	max-width: 1024px;
	width: 100%;
	margin: auto;
	z-index: 99;
/*	text-align: center; */
}

#topWrap {
	background: rgba(251, 244, 223, 0.90);
	height: 196px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #000;
	z-index: 0;

	@media (max-width: 1023px) {
		display: none;
    }
}

#topWrapBorder {
	width: 100%;
	height: 4px;
	border-top: 1px solid #000;
	position: absolute;
    top: 193px;

    @media (max-width: 1023px) {
    	display: none;
    }
}

#bottomWrap {
	background: rgba(251, 244, 223, 0.90);
	position: absolute;
	top: 584px;
	left: 0;
	width: 100%;
	bottom: 0;
	z-index: 0;
	min-height: 584px;

	@media (max-width: 1023px) {
    	top: 535px;
    }

    @media (max-width: 850px) {
    	display: none;
    }
}

#bottomWrapBorder {
	top: 0;
	left: 0;
	background: url("images/scrollBorder.png") repeat-x scroll center top transparent;
	position: absolute;
	height: 100%;
	width: 100%;
}

body#home #below {
	position: absolute;
	text-align: center;
	margin-top: 610px;
	max-width: 1024px;

	@media (max-width: 1023px) {
		margin-top: 0;
		background: rgba(251,244,223,.9);
		width: 100%;
		overflow-x: hidden;
		border-top: 1px solid #000;
	}
}

.homeImg {
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 387px;
    position: absolute;
    top: 197px;
    width: 100%;
    max-width: 1024px;

    @media (max-width: 1023px) {
    	height: 274px;
    	position: relative;
    	display: block;
    	top: 0;
    }
}

.homeImg a {
	display: block;
	width: 100%;
	height: 100%;
}

/* INTERIOR PAGE LAYOUT */

#below {
	text-align: center;
	max-width: 1024px;
	width: 100%;
	display: block;
	position: relative;
	margin-top: 50px;
}

body#stay #interiorWrap, body#stayRoom #interiorWrap {
	display: block;
	margin-top: 180px;
	position: relative;

	@media (max-width: 1023px) {
		margin-top: 20px;
	}
}

body#stay .pageHeader {
	display: none;

	@media (max-width: 1023px) {
		display: block;
	}
}

body#dine #interiorWrap {
	display: block;
	margin-top: 250px;
	position: relative;

	@media (max-width: 1023px) {
		margin-top: 200px;
	}
}

#interiorMiddle {
	width: 366px;
	font-family: "Oswald", arial, sans-serif;
/*	text-align: left; */
	margin: 30px auto;

	@media (max-width: 1023px) {
		width: 90% !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

#dine #interiorMiddle {
	width: 410px;
//	padding-left: 50px; /* REMOVED TO ALIGN CENTER COLUMN */
}

/*body#stay #interiorMiddle {
	width: 334px;
	background:
		url('images/midTop-opaque.png') no-repeat center top,
		url('images/midBottom.png') no-repeat center bottom,
		url('images/midBG-alt.png') repeat-y center;
	padding: 50px 30px;
} */

#interiorLeft {
	width: 250px;
	float: left;
	text-align: center;
	margin: 70px 0 0 30px; /* (kip changed 30px 0) changed from 	margin: 30px 0 0 60px; to center align middle column */
	position: relative;
	z-index: 9;

	@media (max-width: 1023px) {
		width: 90% !important;
		text-align: center !important;
		float: none !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}

#dine #interiorLeft {
	margin-top: 0px !important;

	@media (max-width: 1023px) {
		margin-bottom: 145px;
	}
}

#interiorRight {
	width: 200px;
	float: right;
	text-align: center;
	margin: 30px 60px 0 0;

	@media (max-width: 1023px) {
		width: 90% !important;
		text-align: center !important;
		float: none !important;
		margin-left: auto !important;
		margin-right: auto !important;

		h2 {
			text-align: center;
		}
	}
}


/* DEFAULT PAGE STYLES */

#interiorWrap {
	margin-top: 250px;
	position: relative;
	z-index: 99;

	@media (max-width: 1023px) {
		margin-top: 20px;
	}
}

body.amenities #interiorWrap {
	margin-top: 150px;

	@media (max-width: 1023px) {
		margin-top: 0;
	}
}

img.middle { display: block; margin: 0 auto; }
img.left { float: left; margin-right: 10px; }
img.right { float: right; margin-left: 10px; }

#interiorMiddle ul {
	list-style-type: square;
	font-style: italic;
	font-size: 95%;
	line-height: 200%;
	letter-spacing: .05em;
}

#interiorMiddle p:first-child:first-letter {
	float: left;
	font-size: 100px;
	line-height: 100px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
	font-family: 'Sail', 'Playfair Display', Georgia, serif;
}

h1 {
    color: #990000;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.06em;
    line-height: 110%;
    margin-top: 0;
    text-align: center;
    text-transform: none;
 }

.teamMemberSingle h2:after,
h1:after {
	content: "";
	background: url('images/nav2-ornament.png') no-repeat center top;
	display: block;
	height: 6px;
	width: 69px;
	margin: 20px auto;
}

h2 {
    color: #990000;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.06em;
    line-height: 110%;
    margin-top: 0;
    text-align: left;
    font-size: 22px;
    text-transform: none;
 }

#interiorMiddle h2:first-child:before {
	display: none !important;
	content: "";
}

#interiorMiddle h2:before {
	background: url("images/nav2-ornament.png") no-repeat;
	background-position: center top;
    content: "";
    display: block;
    height: 6px;
    margin: 25px auto;      /* kip changed from 10px auto to give more breathing room */
    width: 69px;
}

/* TOP NAV */

#masthead {
	text-align: center;
	position: absolute;
	top: 0;
	width: 100%;
	max-width: 1024px;

	@media (max-width: 1023px) {
		background: rgba(251, 244, 223, 0.90);
		border-bottom: 1px solid #000;
		position: relative;

		&:after {
			content: "";
			display: block;
			border-top: 1px solid #000;
			padding-top: 2px;
		}
	}
}

#masthead .homeBanner {
	background: url('images/homeBanner.png') no-repeat center bottom;
	position: absolute;
	top: 0;
	left: 370px;
	height: 166px;
	width: 281px;
	text-indent: -10000px;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 99;

    @media (max-width: 1023px) {
    	position: static;
    	display: block;
    	margin: 0 auto;
    }
}

#masthead .homeBanner:hover {
	height: 171px;

	@media (max-width: 1023px) {
    	height: 166px;
    }
}

#masthead ul {
	padding: 0;
	margin: 15px 0;
	max-width: 1024px;
	width: 100%;
}

#masthead ul li {
	list-style-type: none;
	float: left;

	@media (max-width: 1023px) {
    	float: none;
    	padding-left: 15px;
    	padding-right: 15px;
    }
}

#masthead ul li a {
	text-indent: -10000px;
	display: block;
	height: 88px;
	min-width: 40px;

	@media (max-width: 1023px) {
    	text-indent: 0;
    	height: auto;
    	width: auto;
    	min-width: 0;
    }
}

#masthead ul li.nav1,
#masthead ul li.nav2,
#masthead ul li.nav3 {
	background: url("images/topNav_left.png");
}

#masthead ul li.nav4,
#masthead ul li.nav5,
#masthead ul li.nav6 {
	background: url("images/topNav_right.png");
}

#masthead ul li.nav1 { width: 124px; background-position: 0px 0px; margin-left: 7px; }
#masthead ul li.nav1:hover { background-position: 0px -89px; }

#masthead ul li.nav2 { 	width: 78px; background-position: -124px 0px; }
#masthead ul li.nav2:hover { background-position: -124px -89px; }

#masthead ul li.nav3 { 	width: 168px; background-position: -202px 0px; margin-right: 133px;}
#masthead ul li.nav3:hover { background-position: -202px -89px; }

#masthead ul li.nav4 { 	width: 116px; background-position: 0px 0px; margin-left: 125px }
#masthead ul li.nav4:hover { background-position: 0px -89px; }

#masthead ul li.nav5 { 	width: 150px; background-position: -116px 0px; }
#masthead ul li.nav5:hover { background-position: -116px -89px; }

#masthead ul li.nav6 { 	width: 117px; background-position: -266px 0px; }
#masthead ul li.nav6:hover { background-position: -266px -89px; }

#masthead ul li {
	@media (max-width: 1023px) {
    	background: none !important;
    	width: auto !important;
    	margin-left: 0 !important;
    	margin-right: 0 !important;
    	display: inline-block;
    	font-family: 'sheepmanlight';
    }

	@media (max-width: 850px) {
		width: 30% !important;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 0;
		padding-right: 0;
	}

	@media (max-width: 450px) {
		width: 49% !important;
	}
}

body#home a.bookRoom, body#stay a.bookRoom, body#stayRoom a.bookRoom, body#dine a.bookRoom {
	display: inline;
	z-index: 1001;
}

.bookRoom {
	right: 135px;
	position: absolute;
	top: 83px;
	width: 140px;
	height: 37px;
	background: url('images/hdr_BookaRoom2.png') center bottom;
	text-indent: -10000px;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 1001;
}


.bookRoom:hover, .phoneNumber:hover {
	height: 39px;

	@media (max-width: 1023px) {
		height: auto;
	}
}


.phoneNumber {
	left: 135px;
	position: absolute;
	top: 83px;
	width: 140px;
	height: 37px;
	background: url('images/hdr_Phone2.png') center bottom;
	text-indent: -10000px;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 1001;
}

.phoneNumber,
.bookRoom {
	@media (max-width: 1023px) {
		position: static;
		text-indent: 0;
		background: none;
		top: 0;
		left: 0;
		width: auto;
		height: auto;
		font-family: 'sheepmanlight';
		display: inline-block !important;
		width: 49% !important;
		padding-bottom: 5px;
	}
}

.bookRoom {
    @media (max-width: 800px) {
		background: #A22722;
		border-radius: 4px;
		color: white !important;
		padding-bottom: 0;
	}
}


/* .bookRoom:hover {
    -webkit-animation: swing 2s infinite ease-in-out;
    -moz-animation: swing 2s infinite ease-in-out;
    animation: swing 2s infinite ease-in-out;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    transform-origin: center top;
    image-rendering: -moz-pixelated;
}

@-webkit-keyframes swing {
    0% { -webkit-transform: rotate(3deg); }
    50% { -webkit-transform: rotate(-3deg); }
    100% { -webkit-transform: rotate(3deg); }
}

@keyframes swing {
    0% { transform: rotate(3deg); }
    50% { transform: rotate(-3deg); }
    100% { transform: rotate(3deg); }
}
*/

a:hover, a:focus, a:active {
	outline: none;
	text-decoration: underline !important;
	color: #000 !important;
}

a:link {
	text-decoration: none;
	color: #990000;
}




/* END TOP NAV */

/* SECOND TIER NAV */

#topNavText {
	position: absolute;
	display: block;
	margin: 0px 12px;
	top: 100px;
	text-align: center;
	width: 1000px;

	@media (max-width: 1023px) {
		position: static;
		top: 0;
		margin: 5px auto;
		width: 100%;
	}
}

ul#dineMenuLinks,
#topNavText ul {
	list-style-type: none;
	display: inline-block;
	font-family: 'sheepmanlight';
	font-size: 24px;
	letter-spacing: .02em;
	padding: 0;

	@media (max-width: 1023px) {
		display: block;
	}
}

#topNavText ul {
	margin: 75px 0px 0px;

	@media (max-width: 1023px) {
		margin-top: 0;
	}
}


#dineMenuLinks li,
#topNavText ul li {
	float: left;
	display: block;
	margin: 0 12px;

	@media (max-width: 1023px) {
		float: none;
		width: 100%;
		margin: 0;
	}
}


#dineMenuLinks li a,
#topNavText ul li a {
	text-decoration: none;
	color: #000;
}

#dineMenuLinks li a:hover,
#topNavText ul li a:hover {
	color: #990000 !important;
	text-decoration: none !important;
}

#dineMenuLinks li a:after,
#topNavText ul li a:after {
	background: url("images/nav2-ornament.png") no-repeat;
	background-position: center top;
    content: "";
    display: block;
    height: 6px;
    margin: 0 auto;
    width: 69px;
}

#dineMenuLinks li a:hover:after,
#topNavText ul li a:hover:after {
	background-position: center -7px;
}

#navSecond {
	position: absolute;
	margin: 0px 50px;
	top: 100px;
	text-align: center;
	width: 930px;
	height: 55px;

	@media (max-width: 1023px) {
		display: block;
		position: static;
		top: 0;
		width: 100%;
		height: auto;
		margin: 0;
	}
}

#navSecond ul {
	list-style-type: none;
	display: inline-block;
	margin: 75px auto;
	padding: 0;

	@media (max-width: 1023px) {
		display: block;
		margin: 20px auto;
		text-align: center;
		overflow: hidden;
	}

}

#navSecond ul li {
	@media (max-width: 1023px) {
		position: static !important;
		float: none;
		display: block;
		width: 100%;
	}
}

#dine #navSecond ul {
//	margin-left: 55px;
}

#meet #navSecond ul li {
	float: left;
}

#dine #navSecond ul li {
	position: absolute;

	@media (max-width: 1023px) {
		margin: 10px 0;
	}
}

#navSecond ul li a {
	margin: 0 12px;
	display: block;
	height: 50px;
	min-width: 50px;
	text-indent: -10000px;

	@media (max-width: 1023px) {
		text-align: center;
		margin: 0 auto;
	}
}

#dine #navSecond ul li a,
body.page-id-769 #navSecond ul li a {
	background-image: url('images/dineTopNav.png');
}

#meet #navSecond ul li a {
	background-image: url('images/meet/meetTopNav.png');
}

.dineNav1 { background-position: 0 0; width: 112px; } /* main dining room */
.dineNav2 { background-position: -154px 0; width: 125px; } /* widow bingham */
.dineNav3 { background-position: -320px 0; width: 98px; }  /* courtyard */
.dineNav4 { background-position: -442px 0; width: 88px; } /* lions den */
.dineNav5 { background-position: -553px 0; width: 118px; } /* private dining room */

.dineNav1:hover { background-position: 0 -50px; }
.dineNav2:hover { background-position: -154px -50px; }
.dineNav3:hover { background-position: -320px -50px; }
.dineNav4:hover { background-position: -442px -50px; }
.dineNav5:hover { background-position: -553px -50px; }

.meetNav1 { background-position: 0 0; width: 140px; }
.meetNav2 { background-position: -162px 0; width: 164px; }
.meetNav3 { background-position: -355px 0; width: 110px; }
.meetNav4 { background-position: -514px 0; width: 142px; }

.meetNav1:hover { background-position: 0 -52px; }
.meetNav2:hover { background-position: -162px -52px; }
.meetNav3:hover { background-position: -355px -52px; }
.meetNav4:hover { background-position: -514px -52px; }

.navDine {
	position: relative;
	z-index: 100;
}

.navDine li:nth-child(1) { left: 120px; }
.navDine li:nth-child(2) { left: 250px; } /* WAS 260px */
.navDine li:nth-child(4) { right: 250px; }
.navDine li:nth-child(5) { right: 130px; }

li.navDineNorm {
	position: relative !important;
	float: left;
	left: auto !important;
	right: auto !important;
	margin: 0px 18px;
}

li.hdr {
	position: absolute;
	left: 390px;

	@media (max-width: 1023px) {
		display: none !important;
	}
}



.viewMenu {
	background: url('images/dine/viewMenu-bg.png');
    height: 104px;
    text-align: center;
    width: 152px;
    margin: -30px auto 20px;
   	line-height: 18px;
}

.viewMenu a:link, .viewMenu a:visited {
	color: #faf5e0 !important;
	text-decoration: none !important;
	font-family: 'sheepmanlight', arial, sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	padding: 20px 5px;
	display: block;
	height: 100%;
}

.viewMenu:hover, .viewMenu:active {
	background-position: bottom center;
	cursor: pointer;
}

.viewMenu span {
	font-family: 'Playfair Display', georgia, serif;
	font-style: italic;
	text-transform: none;
	display: block;
	line-height: 18px;
}

/*#navSecond ul li:after {
	content: "";
	background: url('images/nav2-ornament.png') no-repeat center 1px;
	height: 7px;
	display: block;
	margin-top: 5px;
}

#navSecond ul li:hover:after {
	background: url('images/nav2-ornament.png') no-repeat center -6px;
}*/



/* TERTIARY NAV */

#interiorRight .tertiaryNav {
	margin: 30px 42px;

	@media (max-width: 1023px) {
		margin: 30px auto;
	}
}

ul.tertiaryNav {
	background:
		url('images/tertiaryNavOrnament-top.png') no-repeat center top,
		url('images/tertiaryNavOrnament-bottom.png') no-repeat center bottom;
	display: block;
	width: 135px;
	padding: 20px 0px;
	text-align: center;
	position: relative;
	z-index: 99;

	@media (max-width: 1023px) {
		width: 100% !important;
	}
}

ul.tertiaryNav.roomTertiary {
	margin: 40px auto;
}

.tertiaryNav.roomTertiary a:after {
    content: "";
    display: block;
    float: right;
    height: 17px;
    width: 36px;

    @media (max-width: 1023px) {
		display: none;
	}
}

.page-id-20 a.id20:after,
.page-id-30 a.id30:after,
.page-id-32 a.id32:after,
.page-id-34 a.id34:after,
.page-id-36 a.id36:after,
.page-id-38 a.id38:after,
.page-id-40 a.id40:after,
.page-id-42 a.id42:after,
.page-id-44 a.id44:after,
.page-id-46 a.id46:after,
.page-id-48 a.id48:after,
.page-id-50 a.id50:after,
.page-id-52 a.id52:after,
.page-id-54 a.id54:after
 {
    background: url("images/hand-36.png") no-repeat scroll right bottom transparent;
}

ul.tertiaryNav.roomTertiary li a {
    margin-left: -10px;
    width: 195px;
}

ul.tertiaryNav li {
	list-style-type: none;
	font-family: 'sheepmanlight';
	font-size: 18px;
	text-transform: uppercase;
	line-height: 20px;
	letter-spacing: .1em;
	display: block;

	@media (max-width: 1023px) {
		text-align: center;
		margin: 0 auto;
	}
}

ul.tertiaryNav li:before {
	content: '';
	background: url('images/tertiaryNavSpacer.png') no-repeat center center;
	height: 5px;
	display: block;
}

ul.tertiaryNav li:last-child:after {
	content: '';
	background: url('images/tertiaryNavSpacer.png') no-repeat center center;
	height: 5px;
	display: block;
}

ul.tertiaryNav li a {
	color: #000000;
	text-decoration: none;
	margin: 8px auto;
	display: block;

	@media (max-width: 1023px) {
		width: 100% !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}


ul.tertiaryNav li a:hover {
	color: #990000;
}

ul.tertiaryNav li span {
	text-transform: lowercase;
}

			/* DINE */

a.dine_Reserve, a.dine_Private, a.checkRates {
	display: inline-block;
	background: url('images/dine/lions.png') no-repeat center 15px;
	padding-top: 53px;
	transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	-webkit-transition: all .2s ease;

	@media (max-width: 1023px) {
		float: none;
		width: 100%;
		display: block;
		margin-top: 0 !important;
	}
}

a.dine_Reserve {
	float: right;
	margin-top: 20px;
}

a.dine_Reserve:hover, a.dine_Private:hover, a.checkRates:hover {
	background-position: center 11px;
}

a.dine_Private {
	margin-right: 30px;
}

a.dine_Private img {
	margin-right: 0px !important;
}

a.dine_Browse {
	float: left;
	background: url('images/dine/silverware.png') no-repeat center 7px;
	padding-top: 53px;
	display: inline-block;
	transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	margin-top: 20px;

	@media (max-width: 1023px) {
		float: none;
		width: 100%;
		display: block;
	}
}

a.dine_Browse:hover {
	background-position: center 0px;
}


/* end SECOND TIER NAV */


/* bottom NAV */

ul#bottomNav {
	width: 878px;
	margin: 20px auto;
	padding: 0;
	overflow: hidden;

	@media (max-width: 1023px) {
    	margin-left: 0;
    	margin-right: 0;
    	width: 100%;
    }
}


ul#bottomNav li {
	list-style-type: none;
	float: left;

	@media (max-width: 1023px) {
    	float: none;
    }
}

ul#bottomNav li a {
	text-indent: -10000px;
	display: block;
	height: 52px;
	min-width: 40px;

	@media (max-width: 1023px) {
    	text-indent: 0;
    	height: auto;
    	width: auto;
    	min-width: 0;
    }
}

ul#bottomNav li {
	background: url("images/bottomNav.png");
}

ul#bottomNav li.nav1_btm { 	width: 94px; background-position: 0px -4px; }
ul#bottomNav li.nav1_btm:hover { background-position: 0px -54px; }

ul#bottomNav li.nav2_btm { 	width: 167px; background-position: -94px -4px; }
ul#bottomNav li.nav2_btm:hover { background-position: -94px -54px; }

ul#bottomNav li.nav3_btm { 	width: 167px; background-position: -261px -4px; }
ul#bottomNav li.nav3_btm:hover { background-position: -261px -54px; }

ul#bottomNav li.nav4_btm { 	width: 156px; background-position: -428px -4px; }
ul#bottomNav li.nav4_btm:hover { background-position: -428px -54px; }

ul#bottomNav li.nav5_btm { 	width: 113px; background-position: -584px -4px; }
ul#bottomNav li.nav5_btm:hover { background-position: -584px -54px; }

ul#bottomNav li.nav6_btm { 	width: 180px; background-position: -697px -4px; }
ul#bottomNav li.nav6_btm:hover { background-position: -697px -54px; }

ul#bottomNav li {
    @media (max-width: 1023px) {
    	background: none !important;
    	width: auto !important;
    	margin-left: 0 !important;
    	margin-right: 0 !important;
    	display: inline-block;
    	font-family: 'sheepmanlight';
    	padding-left: 10px;
    	padding-right: 10px;
    }

	@media (max-width: 900px) {
		width: 30% !important;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 0;
		padding-right: 0;
	}

	@media (max-width: 600px) {
		width: 49% !important;
	}

	@media (max-width: 600px) {
		width: 100% !important;
	}

}

/*ul#bottomLinks {
	margin: 40px auto 0px;
	padding: 0px;
	display: inline-block;
	position: relative;
}
*/
ul#bottomLinks {
    margin-top: 50px;
    position: absolute;

    @media (max-width: 1023px) {
    	position: static;
    	margin-left: 0;
    	padding-left: 0;
    	margin-top: 20px;
    }
}

ul#bottomLinks li {
	list-style-type: none;
	float: left;
	font-family: 'Playfair Display', Georgia, serif;
	font-size: 13px;
	letter-spacing: .08em;
	margin: 0 2px;
	text-transform: lowercase;

	@media (max-width: 1023px) {
    	float: none;
    }
}

ul#bottomLinks li:last-child:after { content: ""; }

ul#bottomLinks li:after {
	content: " |";

	@media (max-width: 1023px) {
    	display: none;
    }
}

ul#bottomLinks li a {
	color: #000000;
	text-decoration: none;
}

ul#bottomLinks li a:hover {
	color: #9F1F24;
}

/* HOME PAGE FOOTER ELEMENTS */

#footerBar {
	margin-top: 20px;
	background: url('images/footerBar-nobirds.png') no-repeat center center;
	height: 126px;
	display: block;
	position: relative;
	clear: both;

	@media (max-width: 980px) {
		background: none;
		height: auto;
	}

}

#footerBar div {
	position: absolute;
    font-family: 'sheepmanlight';
    letter-spacing: 0.08em;
    text-align: center;
    text-transform: uppercase;
    line-height: 23px;
    height: 23px;
    display: block;
    font-size: 15px;
    top: 27px;

    @media (max-width: 980px) {
		position: static;
		height: auto;
		top: 0;
		left: 0;
		text-align: center;
		margin: 0 auto;
		padding-bottom: 10px;
	}
}

.ftrLeft {
    left: 74px;
    width: 387px;
}

.ftrRight{
    left: 573px;
    width: 372px;
}

.ftrLeft,
.ftrRight {
	@media (max-width: 1023px) {
		width: 100%;
	}
}

a.ftrEmail {
    color: #990000;
    text-decoration: none;
    text-transform: none !important;
}

a.ftrEmail:hover {
	color: #000;
}


/*#directions {
	height: 111px;
//    right: 248px;
//    position: absolute;
//    top:  116px;
    width: 113px;
    float: right;
    margin: -90px 220px 0 0;
}*/

#directions {
    float: right;
    height: 111px;
    left: -30px;
    margin: -90px 220px 0 0;
    position: relative;
    top: 0;
    width: 113px;
}

#directions a {
	display: block;
	height: 100%;
	width: 100%;
	background: url('images/directions.png') no-repeat;
}

#directions a:hover {
	background-position: 0 -114px;
}

/*#hha {
	margin: 50px auto;
	display: block;
//	top: 220px;
//	right: 163px;
}*/

#hha {
    left: 140px; /*32px*/
    position: relative;
    top: 100px;
    display: inline-block;
    height: 120px;
}

#hha img {
	width: 162px;
}

#mshg {
	display: inline-block;
    left: -100px;
    position: relative;
    top: -25px;
    height: 75px;
}

#mshg img {
	height: 76px;
}

#emailSubscribe {
	display: block;
	margin: -30px auto;
	width: 184px;
	height: 127px;
	background: url('images/emailBorder-2.png') no-repeat;
}

#emailSubscribe input.emailAddress {
	margin-top: 48px;
	background-color: rgba(255, 255, 255, 0.50);
	width: 142px;
	height: 16px;
	padding: 3px;
	border: 0;
	font-family: georgia, serif;
	font-size: 10px;
	letter-spacing: .06em;
	color: #7F7F7F;
	}


/*input.submit {
    background-color: #990000;
    border: 0 none;
    border-radius: 11px 11px 11px 11px;
    color: #FFFFFF;
    font-family: "Playfair Display",Georgia;
    font-size: 12px;
    font-style: italic;
    height: 18px;
    margin-top: 24px;
    width: 80px;
}*/

input.submit,
input.gform_button {
	display: block;
	height: 40px;
	width: 61px;
	background: url('images/submitBtn.png') no-repeat center top;
	border: none;
	font-family: 'sheepmanlight', arial, sans-serif;
	text-align: center;
	color: #FBF5DE;
	text-transform: uppercase;
	margin: 20px auto;
	font-size: 13px !important;
	letter-spacing: 0.1em;
	padding: 3px 0px 0px 3px;
}

input.submit:hover,
input.gform_button:hover {
	background-position: center bottom;
}

/* SOCIAL BUTTONS */

#social {
//	margin: 50px auto;
	margin: -30px 0 0 86px;
	width: 310px;
	background: url('images/stayconnected.png') no-repeat center top;
	padding-top: 45px;
	height: 60px;
	float: left;
}

#social ul {
	padding-left: 20px !important;
}

#social ul li {
	list-style-type: none;
	float: left;
	margin: 0;
}

#social ul li a {
	text-indent: -10000px;
	display: block;
	height: 38px;
	width: 62px;
	background-image: url('images/socialicons-2.png');
	margin: 0px 4px;
}

a.fb { background-position: 0px 0px; width: 53px !important; }
a.twitter { background-position: -71px 0px; width: 36px !important; }
a.tripadvisor { background-position: -125px 0px; width: 62px !important; }
a.blog { background-position: -206px 0px; width: 26px !important; }
a.instagram { background-position: -252px 0px; width: 56px !important; }

a.fb:hover { background-position: 0px -39px; }
a.twitter:hover { background-position: -71px -39px; }
a.tripadvisor:hover { background-position: -125px -39px; }
a.blog:hover { background-position: -206px -39px; }
a.instagram:hover { background-position: -252px -39px; }


/* Footer Responsive */

#social,
#emailSubscribe,
#directions,
#weather,
#hha,
#mshg {
	@media (max-width: 980px) {
		margin: 20px auto !important;
		text-align: center;
		float: none !important;
		position: static;
		top: 0 !important;
		left: 0 !important;
	}
}

#hha {
	@media (max-width: 980px) {
		height: auto;
		width: 100%;
	}
}

/* SIDENAV */


#sideNavWide {
	width: 200px;
	background: url('images/SideNavWide_Top.png') no-repeat center top;
	padding-top: 23px;
	position: relative;
	z-index: 101;
	float: left;

	@media (max-width: 1023px) {
		float: none;
		margin: 20px auto;
	}
}

#dine #sideNavWide {
	float: right;

	@media (max-width: 1023px) {
		float: none;
		display: block;
		margin: 0 auto;
	}

}

.sideNavMeetingSpaces {
	background: url('images/meet/SideNavWide_Top_MeetingSpaces.png') no-repeat center top !important;
	padding-top: 100px !important;
}

.sideNavCoreValues {
	background: url('images/SideNavWide_Top_CoreValues.png') no-repeat center top !important;
	padding-top: 100px !important;
}



#meet .sideNavText ul li a {
	font-size: 24px !important;
}

#sideNav {
	width: 161px;
	background: url('images/SideNav_Top_wh.png') no-repeat center top;
	float: right;
	padding-top: 23px;
	position: relative;
	z-index: 101;

	@media (max-width: 1023px) {
		float: none;
		margin: auto;
		display: block;
	}
}

#sideNavWide ul {
	display: block;
	list-style-type: none;
	background: url('images/SideNavWide_BG.png');
	padding: 0;
}


#sideNav ul {
	display: block;
	list-style-type: none;
	background: url('images/SideNav_BG_wh.png');
	padding: 0;
}

/*
.staySideNav { background: url('images/stay/staySideNav_Items.png'); }

.staySide1 { height: 50px; background-position: 0 0; }
.staySide2 { height: 50px; background-position: 0 -85px; }
.staySide3 { height: 50px; background-position: 0 -170px; }
.staySide4 { height: 50px; background-position: 0 -255px; }
.staySide5 { height: 50px; background-position: 0 -340px; }
.staySide6 { height: 50px; background-position: 0 -430px; }

.staySide1:hover { height: 50px; background-position: -122px 0; }
.staySide2:hover { height: 50px; background-position: -122px -85px; }
.staySide3:hover { height: 50px; background-position: -122px -170px; }
.staySide4:hover { height: 50px; background-position: -122px -255px; }
.staySide5:hover { height: 50px; background-position: -122px -340px; }
.staySide6:hover { height: 50px; background-position: -122px -430px; }

.roomSideNav { background: url('images/stay/roomSideNav_Items.png'); }

.roomSide1 { height: 50px; background-position: 0 0; }
.roomSide2 { height: 50px; background-position: 0 -85px; }
.roomSide3 { height: 50px; background-position: 0 -170px; }

.roomSide1:hover { height: 50px; background-position: -122px 0; }
.roomSide2:hover { height: 50px; background-position: -122px -85px; }
.roomSide3:hover { height: 50px; background-position: -122px -170px; }

.dineSideNav { background: url('images/dine/dineSideNav_Items2.png'); position: relative; z-index: 99; }

.dineSide1 { height: 50px; background-position: 0 0; }
.dineSide2 { height: 50px; background-position: 0 -85px; }
.dineSide3 { height: 50px; background-position: 0 -170px; }
.dineSide4 { height: 50px; background-position: 0 -255px; }
.dineSide5 { height: 25px; background-position: 0 -340px; }
.dineSide6 { height: 50px; background-position: 0 -403px; }
.dineSide7 { height: 50px; background-position: 0 -488px; }
.dineSide8 { height: 50px; background-position: 0 -573px; }

.dineSide1:hover { background-position: -150px 0; }
.dineSide2:hover { background-position: -150px -85px; }
.dineSide3:hover { background-position: -150px -170px; }
.dineSide4:hover { background-position: -150px -255px; }
.dineSide5:hover { background-position: -150px -340px; }
.dineSide6:hover { background-position: -150px -403px; }
.dineSide7:hover { background-position: -150px -488px; }
.dineSide8:hover { background-position: -150px -573px; }

*/

#sideNavWide #sideNavWideInner ul li a:hover,
#sideNav #sideNavInner ul li a:hover {
	color: #990000 !important;
	text-decoration: none !important;
}


#sideNavWide #sideNavWideInner ul li a,
#sideNav #sideNavInner ul li a {
	display: block;
//	text-indent: -10000px;
	margin: 5px auto;
	font-family: 'sheepmanlight', arial, sans-serif;
	font-size: 27px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	line-height: 27px;
	letter-spacing: .02em;
}

#sideNavWide #sideNavWideInner ul li a span,
#sideNav #sideNavInner ul li a span {
	font-family: 'Playfair Display', Georgia, serif;
	font-style: italic;
	text-transform: lowercase !important;
	font-size: 20px !important;
	display: block;
}

#sideNavWide #sideNavWideInner ul li a { width: 170px; }
#sideNav #sideNavInner ul li a { width: 120px; }

#sideNavWide #sideNavWideInner ul li:last-child:after,
#sideNav #sideNavInner ul li:last-child:after {
	content: "";
	background: transparent;
	height: 0;
}

#sideNavWide #sideNavWideInner ul li:after,
#sideNav #sideNavInner ul li:after {
	display: block;
	content: "";
	background: url('images/SideNav_Divider.png') no-repeat center center;
	height: 15px;
}

#sideNavWideInner {
	background: url('images/SideNavWide_Bottom.png') no-repeat center bottom;
	padding-bottom: 28px;
}

#sideNavInner {
	background: url('images/SideNav_Bottom_wh.png') no-repeat center bottom;
	padding-bottom: 28px;
}

.sideNavText ul li a {
	text-indent: 0px !important;
	font-family: 'sheepmanlight';
	font-size: 20px;
	text-transform: uppercase;
	line-height: 20px;
	letter-spacing: .1em;
	display: block;
	text-decoration: none;
	color: #000000;
	margin: 7px auto !important;
}

.sideNavText ul li a:hover {
	color: #990000;
}

.roomSide {
	margin: 30px 91px;
}

.wineEx {
	display: block;
	height: 166px;
	width: 191px;
    margin: 50px auto;
    text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
    background: url('images/dine/wineExperience.png') no-repeat center top;
}

.wineEx:hover {
	background-position: center -169px;
}

/*.wineEx:before {
	content: "";
    background: url('images/dine/winebottle.png') no-repeat center center;
    width: 65px;
    height: 166px;
    display: block;
    float: left;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.wineEx:hover:before {
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
}*/



/* STAY ROOMS MAP LAYOUT */

#stayMap {
	background: url('images/stay/mapBG-3.jpg') no-repeat center top;
	display: block;
	height: 655px;
//	height: 615px;

	@media (max-width: 1023px) {
		height: auto;
		background: none;
		width: 90%;
		margin: 0 auto;
	}
}

body.stay-map #interiorMiddle {
	margin-top: 0px !important;
}

#stayMap_Main, #stayMap_Guest {
	list-style-type: none;

	@media (max-width: 1023px) {
		padding-left: 0;
		padding-top: 25px;
	}
}

#stayMap_Main {
	@media (max-width: 1023px) {
		&:before {
			content: '';
			display: block;
			background-image: url('images/stay/maininn.png');
			width: 182px;
			height: 50px;
			margin: 20px auto;
		}
	}
}

#stayMap_Main li {
	background-position: 0 0;
	width: 132px; /* 155 */
	height: 74px; /* 87 */
	background-repeat: no-repeat;
	text-indent: -10000px;
	position: relative;
	cursor: pointer;
}

#stayMap_Main li:hover {
	background-position: 0 -74px;
}

#stayMap_Guest {
	@media (max-width: 1023px) {
		&:before {
			content: '';
			display: block;
			background-image: url(images/stay/guesthouses.png);
			width: 266px;
			height: 50px;
			margin: 20px auto;
		}
	}
}

#stayMap_Guest li {
	background-position: 0 0;
	width: 87px; /* was 102 */
	height: 88px; /* 103 */
	background-repeat: no-repeat;
	text-indent: -10000px;
	position: relative;
	cursor: pointer;
}

#stayMap_Guest li:hover {
	background-position: 0 -88px;
}

#stayMap_Guest a, #stayMap_Main a {
	display: block;
	width: 100%;
	height: 100%;
}

#stayMap_Main li,
#stayMap_Guest li {
	@media (max-width: 1023px) {
		position: static !important;
		top: 0 !important;
		left: 0 !important;
		display: block;
		margin: 10px auto;
	}
}

.deluxerooms { background-image: url('images/stay/deluxerooms.png'); left: 290px;}
.superiorrooms { background-image: url('images/stay/superiorrooms.png'); left: 541px; top: -64px;}
.suites { background-image: url('images/stay/suites.png'); left: 250px; top: -8px; }
.bbrooms { background-image: url('images/stay/bbrooms.png'); left: 590px; top: -70px;}
.maininn { background-image: url('images/stay/maininn.png'); width: 182px !important; height: 50px !important; left: 407px; top: -187px;

	@media (max-width: 1023px) {
		display: none !important;
	}

}

.firehouse { background-image: url('images/stay/firehouse.png'); left: 380px; top: -140px; }
.mapleglen { background-position: 0 -89px !important; background-image: url('images/stay/mapleglen-new.png'); left: 560px; top: -210px; }
.maple2 { background-image: url('images/stay/2maple.png'); left: 218px; top: -210px; }
.mcgregor { background-image: url('images/stay/mcgregor.png'); left: 680px; top: -260px; }
.obrien { background-image: url('images/stay/obrien.png'); left: 200px; top: -250px; }
.cottage { background-image: url('images/stay/cottage.png'); left: 340px; top: -360px; }
.stevens { background-image: url('images/stay/stevens.png'); left: 430px; top: -350px; }
.stafford { background-image: url('images/stay/stafford.png'); left: 520px; top: -530px; }
.meadowlark { background-image: url('images/stay/meadowlark.png'); left: 640px; top: -580px; width: 119px !important;

	@media (max-width: 1023px) {
		width: 102px !important;
	}

}
.guesthouses { background-image: url('images/stay/guesthouses.png'); width: 266px !important; height: 50px !important; left: 354px;  top: -802px;

	@media (max-width: 1023px) {
		display: none !important;
	}

}

/*
.deluxerooms { background-image: url('images/stay/deluxerooms.png'); left: 290px;}
.superiorrooms { background-image: url('images/stay/superiorrooms.png'); left: 541px; top: -64px;}
.suites { background-image: url('images/stay/suites.png'); left: 250px; top: -48px; }
.bbrooms { background-image: url('images/stay/bbrooms.png'); left: 590px; top: -120px;}
.maininn { background-image: url('images/stay/maininn.png'); width: 182px !important; height: 50px !important; left: 407px; top: -231px;}

.firehouse { background-image: url('images/stay/firehouse.png'); left: 380px; top: -210px; }
.mapleglen { background-image: url('images/stay/mapleglen-new.png'); left: 560px; top: -290px; }
.maple2 { background-image: url('images/stay/2maple.png'); left: 218px; top: -300px; }
.mcgregor { background-image: url('images/stay/mcgregor.png'); left: 680px; top: -370px; }
.obrien { background-image: url('images/stay/obrien.png'); left: 200px; top: -370px; }
.cottage { background-image: url('images/stay/cottage.png'); left: 340px; top: -500px; }
.stevens { background-image: url('images/stay/stevens.png'); left: 430px; top: -510px; }
.stafford { background-image: url('images/stay/stafford.png'); left: 520px; top: -700px; }
.meadowlark { background-image: url('images/stay/meadowlark.png'); left: 640px; top: -750px; width: 119px !important; }
.guesthouses { background-image: url('images/stay/guesthouses.png'); width: 266px !important; height: 50px !important; left: 354px;  top: -998px;}
*/

.maininn:hover, .guesthouses:hover {
	background-position: bottom center !important;
}

@-webkit-keyframes mapLine {
from {
    height: 150px;
}
to {
    height: 971px;
    }
}


@keyframes mapLine {
from {
    height: 150px;
}
to {
    height: 971px;
    }
}

#aboutYourStay {
    background: url("images/stay/aboutYourStay.png") no-repeat scroll 0 0 transparent;
    height: 971px;
    width: 206px;
    margin-left: 50px;
    position: absolute;
    text-indent: -10000px;
    top: 234px;
    -webkit-animation: mapLine 8s ease 1s 1 normal;
    -moz-animation: mapLine 8s ease normal;
    -ms-animation: mapLine 8s ease 1 normal;
    animation: mapLine 8s ease 1 normal;

    @media (max-width: 1023px) {
		display: none;
		animation: none;
	}
}

#aboutYourStay a {
    display: block;
    height: 150px;
    width: 95px;
}

/*#aboutYourStay:hover {
	height: 971px;
}*/


/* MEET & CELEBRATE */

#meet #interiorMiddle h1 {
	font-family: 'Playfair Display', Georgia, serif;
	color: #990000;
	font-style: italic;
	text-transform: none;
	letter-spacing: normal;
	font-size: 30px;
	line-height: 30px;
	text-align: left;
}

#meet #interiorMiddle h1:after {
	display: none;
}

#middleWindow {
	display: block;
	height: 387px;
    margin-top: 169px;
    width: 100%;

    @media (max-width: 1023px) {
		height: auto;
		margin-top: 0;
	}
}

ul#meetNav {
	list-style-type: none;
	margin-top: 20px;

	@media (max-width: 1023px) {
		padding-left: 0;
	}
}

ul#meetNav li {
	float: left;
	margin-top: 85px;
	width: 25%;
	text-align: center;

	@media (max-width: 1023px) {
		float: none;
		width: 100%;
		margin: 20px auto;
	}
}

ul#meetNav li a {
	height: 220px;
	text-indent: -10000px;
	display: block;
	background-repeat: no-repeat;
	background-position: center top;
}

ul#meetNav li a:hover {
	background-position: center -216px !important;
}

ul#meetNav li a.weddings:hover {
//	background-position: center -220px;
}

ul#meetNav li a.weddings {
	background-image: url('images/meet/weddings.png');
//	background-position: center 13px;
}

ul#meetNav li a.weddings:hover {
//	background-position: center -192px;
}

ul#meetNav li a.tours {
	background-image: url('images/meet/groups.png');
//	background-position: center 1px;
}

ul#meetNav li a.tours:hover {
//	background-position: center -204px;
}

ul#meetNav li a.meetings {
	background-image: url('images/meet/meetings.png');
//	background-position: center -4px;
}

ul#meetNav li a.meetings:hover {
//	background-position: center -209px;
}

ul#meetNav li a.gatherings {
	background-image: url('images/meet/gatherings.png');
//	background-position: center -19px;
}

ul#meetNav li a.gatherings:hover {
//	background-position: center -209px;
}


/* ROOMS */

#stayRoom #interiorMiddle, #stay #interiorMiddle, #default #interiorMiddle {
	width: 334px;
	background:
		url('images/midBottom.png') no-repeat center bottom,
		url('images/midBG.png') repeat-y center;
	padding: 0px 30px 50px;
	font-family: "Oswald", arial, sans-serif;
	line-height: 150%;
	letter-spacing: 0.05em;
	position: relative;

	@media (max-width: 1023px) {
		background: none;
		padding-bottom: 0;
	}
}

#default #interiorMiddle {
	margin-top: -166px;

	@media (max-width: 1023px) {
		overflow: hidden;
	}
}

#stayRoom #interiorMiddle, #stay #interiorMiddle {
	margin-top: -150px;
}

#stayRoom #interiorMiddleWrap {
	padding-top: 218px;
	background: url('images/midTop.png') no-repeat center top;
	margin-top: -70px;
	position: relative;

	@media (max-width: 1023px) {
		margin-top: 20px;
		background: none;
	}
}

#default #interiorMiddleWrap {
	padding-top: 234px;
	background: url('images/midTop.png') no-repeat center top;
	margin-top: -70px;
	position: relative;
	z-index: 0;

	@media (max-width: 1023px) {
		margin-top: 20px;
		background: none;
	}
}

.error404 #interiorMiddleWrap {
	background: none !important;
	padding-top: 0px !important;
}

#stay #interiorMiddleWrap {
	background: url('images/midTop.png') no-repeat center top;
	position: relative;
	padding-top: 52px !important;

	@media (max-width: 1023px) {
		background: none;
		padding-top: 20px !important;
	}
}

#stayRoom h1 {
    font-family: 'sheepmanlight',arial,sans-serif;
    font-style: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

/* #stayRoom-Slider img {
	margin: 0 auto;
	display: block;
	position: relative;
	z-index: -99;
}*/

#roomPlate {
	text-indent: -10000px;
	height: 136px;
	margin-bottom: -140px;
	display: block;
	position: relative;
	z-index: 99;

	@media (max-width: 1023px) {
		position: static;
		margin-bottom: 20px;
		height: auto;
	}
}

.roomTitle {
	display: block;
	margin: 0 auto;
	position: relative;
	top: -30px;
	left: -4px;

	@media (max-width: 1023px) {
		position: static;
		height: auto;
		max-width: 100%;
	}
}

.roomTagline {
    color: #3F3E38;
    font-family: "Playfair Display",Georgia,serif;
    font-size: 1em;
    font-style: italic;
    position: absolute;
    text-align: center;
    top: -30px;
    width: 335px;
    line-height: 1.2em;
}

.roomDistance {
    display: block;
	text-align: center;
    font-family: "Playfair Display",Georgia,serif;
    font-size: 1em;
    font-style: italic;
    line-height: .9em;
    margin: 20px auto 0px !important;
}

.roomDistance span {
	font-family: 'sheepmanlight', arial, sans-serif;
	font-size: 1.25em;
	font-style: normal;
}

.roomDistance span .num {
	font-size: 1.5em;
	vertical-align: text-bottom;
	display: inline-block;
}

a.checkRates {
    float: right;
    margin: 0px 0px 20px 20px;
    position: relative;
}

a.checkRates img {
	@media (max-width: 1023px) {
		text-align: center;
		margin: 0 auto;
		display: block;
	}
}

a.comparisonChart {
	position: absolute;
	display: block;
	top: 200px;
	left: -70px;
	width: 98px;
	height: 98px;
	background: url('images/stay/comparisonChart.png') no-repeat;
	background-position: top center;
	text-indent: -10000px;
}

a.comparisonChart:hover {
	background-position: bottom center;
}

.flexslider {
    margin: 65px auto 0px auto !important;
    // max-width: 890px;
    width: 100%;

    @media (max-width: 1023px) {
    	margin-top: 10px !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
    }
}

body#dine .flexslider {
	margin-bottom: 60px !important;
}

body#stayRoom .flexslider {
	margin-top: 65px;
	position: relative;
}

.flex-control-nav { z-index: 99; }

.slideDescription {
 	background-color: rgba(20, 20, 19, 0.5);
    bottom: 0;
    color: #FFFFFF;
    padding: 3px 15px 3px 10px;
    position: absolute;
	font-family: 'oswald', arial, sans-serif;
	border-top-right-radius: 10px;
	font-size: 13px;
	max-width: 200px;
}

.sliderBox { height: 100px; }



/* SPECIAL OFFERS */

#offersMiddle {
//	width: 750px; /* remove for new offers display header */
	width: auto;
	font-family: 'Playfair Display', Georgia, serif;
/*	text-align: left; */
/*	margin: 50px auto; */
	margin: 20px;
	text-align: center;
}

#offersGrid {
	margin: 0 auto;
	width: 750px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    -moz-column-rule: 1px dashed #A0A0A0;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -webkit-column-rule: 1px dashed #A0A0A0;
    column-count: 2;
    column-gap: 0px;
    column-rule: 1px dashed #A0A0A0;
}

.offersHeader {
	height: 80px;
	display: block;
	margin-top: -110px;

	@media (max-width: 1023px) {
		margin-top: 0;
		text-align: center;
		height: auto;
		overflow: hidden;
		padding-bottom: 20px;
	}
}

.offersHeader div a {
	text-decoration: none;
	color: black;
}

.offersHeader div a:hover {
	color: #990000 !important;
	text-decoration: none !important;
}

.offersHeader div {
	font-family: 'sheepmanlight';
	letter-spacing: .04em;
	text-transform: uppercase;
	font-weight: normal;
	background: url('images/ornament.png') no-repeat center bottom;
	margin: 0 110px;
	font-size: 40px;
	padding-top: 14px;

	@media (max-width: 1023px) {
		padding-top: 0;
		margin: 0;
		width: 100%;
	}
}

.offersHeader div.active {
//	font-size: 45px;
	color: #990000;
//	padding: 0px;
}

.lodgingTitle {
	float: left;

	@media (max-width: 1023px) {
		float: none;
	}
}

.packagesTitle {
	float: right;
}

.calloutTitle {
	font-family: 'Playfair Display', Georgia, serif;
	font-style: italic;
	color: #990000;
	font-size: 30px;
	margin: 0 auto;
	display: block;
	text-align: center;
}

#offers #sideNav {
	margin-top: 40px;
}

.offer {
	display: inline-block;
	padding: 25px 15px;
	border-top: 1px dashed #A0A0A0;
	width: 345px;
}

#offersMiddle .subTitle { margin-bottom: 40px; }

#offersMiddle .subTitle p { margin-top: -5px; }

/*#offersMiddle .offer:nth-child(odd) {
	background-color: #F3E6C7;
	border-top: 1px dashed #827B6B;
	border-bottom: 1px dashed #827B6B;
	}
*/

.offerPriceFirst, .offerPriceSecond {
	display: inline-block;
	margin: 0 5px;
}

.offerPriceFirstSingle {
	margin: 0 auto;
}

.offerOr {
	display: inline-block;
	line-height: 120px;
	vertical-align: top;
}

.offerPrice {
	width: 76px;
	height: 76px;
	border-radius: 38px;
	background-color: #990000;
	color: #fcf5df;
	font-family: "Playfair Display", Georgia, serif;
	font-size: 37px;
	line-height: 56px;
	text-align: center;
	margin: 20px auto 0px;
}

.offerPrice span {
	font-size: 18px;
	vertical-align: super;
}

.offerDetails {
//	margin-left: 340px;
	margin-bottom: 25px;
//	height: 185px;
	text-align: left;
	padding: 0px 15px;
	font-family: 'sheepmanlight', arial, helvetica, sans-serif;
	font-size: 18px;
	letter-spacing: .05em;
}

.offerRoom { font-size: 26px; line-height: 26px; }
.offerRoomType { color: #990000; line-height: 18px; margin: 0 0 10px; }
.offerDates { color: #990000; font-size: 26px; line-height: 29px; margin-top: 7px; }
.offerExcl { font-family: 'Oswald', Arial, Helvetica, sans-serif; font-size: 13px; display: block; }
.offerDays { font-family: 'sheepmanlight', Arial, Helvetica, sans-serif; color: #990000; font-size: 20px; text-align: center; }

.offerDetails img {
	margin-top: 20px;
}

.offerImg img {
	width: 125px;
	padding: 3px;
	background-color: #fff;
	border-radius: 3px;
	float: left;
	height: 100px;
	-moz-box-shadow: 2px 2px 3px #CFCFCF;
	-webkit-box-shadow: 2px 2px 3px #CFCFCF;
	box-shadow: 2px 2px 3px #CFCFCF;
	margin: 0px 0 20px 13px;
}

.offer .checkOffer {
	margin: 20px auto !important;
}

img.specialRate {
	padding: 25px 25px 41px;
}

.reserveText {
	font-family: 'Playfair Display', Georgia, serif;
	line-height: 18px;
	font-size: 14px;
	font-style: italic;
	margin-top: 14px;
	clear: both;
}

#packagesMiddle {
	@media (max-width: 1023px) {
		width: 90%;
		margin: 20px auto;
	}
}

#packagesMiddle p {
	width: 100%;
	font-family: 'Playfair Display', Georgia, serif;
	font-style: italic;
	font-size: 14px;
/*	text-align: left; */
	text-align: center;
/*	text-transform: uppercase; */
	letter-spacing: .06em;
}

#packagesMiddle h1 {
	font-size: 47px;
	margin: 30px 0 -10px 0;
	text-align: center;
}

.package {
//	height: 300px;
	border-top: 1px dashed #A0A0A0;
	position: relative;
	z-index: 99;
	font-family: 'sheepmanlight', arial, sans-serif;
	letter-spacing: .0em;

	@media (max-width: 1023px) {
		float: none !important;
		width: 90% !important;
		margin: 20px auto;
		border-right: 0 !important;
	}
}

.package:nth-child(odd) {
	width: 505px;
	border-left: none;
	float: left;
	border-right: 1px dashed #A0A0A0;
	padding: 15px 0px 30px;
	clear: left;

	@media (max-width: 1023px) {
		float: none !important;
		width: 90% !important;
		margin: 20px auto;
		border-right: 0 !important;
		padding-left: 0;
	}
}

.package:nth-child(even) {
	padding: 15px 0px 15px 30px;
	width: 488px;
	float: right;
	clear: right;

	@media (max-width: 1023px) {
		float: none !important;
		width: 90% !important;
		margin: 20px auto;
		border-right: 0 !important;
		padding-left: 0;
	}
}

.package:nth-last-child(2), .package:nth-last-child {
	margin-bottom: 80px;
	border-bottom: 1px dashed #A0A0A0;
}

.packageDetailsBlock {
	width: 200px;
	margin-bottom: 20px;
	float: left;
	margin-right: 20px;
}

.packageDetailsBlock img {
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 3px #CFCFCF;
    height: auto;
    padding: 3px;
    width: 97%;
}

.packageTitle {
	font-size: 34px;
	line-height: 100%;
	text-transform: uppercase;
}

.packageSubtitle {
	font-size: 19px;
	color: #990000;
	margin-bottom: 15px;
}

.packageDesc {
	font-family: 'Oswald', arial, sans-serif;
	font-size: 16px;
	line-height: 175%;
	width: 268px;
	float: left;
}

.packageSmall {
	text-transform: uppercase;
	font-family: 'Oswald', arial, sans-serif;
	font-weight: bold;
	margin-top: 20px;
	font-size: 12px;
	letter-spacing: .1em;
	clear: both;
}

.packagePriceBlock {
	float: left;
	/* margin-left: 20px !important; */
	/*
position: absolute;
	top: 100px;
	right: 0px;
	left: 265px;
*/
}


.packagePrice {
	line-height: 25px;
	font-size: 20px;
	width: 250px; /*215px*/
	height: 50px;

}

.packagePrice span {
	color: #fcf5df;
	font-family: "Playfair Display", Georgia, serif;
	background-color: #990000;
    font-size: 22px;
    line-height: 25px;
    margin-right: 6px;
    padding: 0 5px 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.originalPrice {
    float: left;
    font-family: "Playfair Display",Georgia,serif;
    font-size: 140%;
    margin-right: 28px;
    position: relative;
    width: 30px;
}

.originalPrice:after {
	background: url("images/crossout.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 24px;
    position: absolute;
    top: 4px;
    width: 50px;
}

.checkOffer {
	width: 264px;
	height: 20px;
	background: url('images/checkRatesHand2.png') no-repeat;
	text-indent: -10000px;
	display: block;
	margin-top: 20px;
	clear: both;
}

.checkOffer:hover {
	background-position: center -26px;
}

/*#stayRoom #interiorMiddle h1 {
	text-align: center;
	display: block;
	width: 100%;
	color: #990000;
	background: url('images/ornament.png') no-repeat center bottom;
	padding-bottom: 15px;
	margin: 0px 0px 30px 0;
}*/



/* OUR STORY */

.page-ourstory #interiorLeft {
	text-align: right;
}


.page-ourstory #interiorRight {
	text-align: left;
	width: 292px;
	margin-right: 0px;
	position: relative;
	z-index: 99;
}

.page-ourstory #interiorLeft img, .page-ourstory #interiorLeft ul {
	margin-right: 20px;

	@media (max-width: 1023px) {
		margin-right: 0;
	}
}

.page-ourstory #interiorLeft img {
	@media (max-width: 1023px) {
		display: block;
		text-align: center;
		margin: 0 auto;
	}
}

.page-ourstory #interiorLeft ul.navOurStory {
	background: url('images/doublerule.png') no-repeat right top,
		url('images/doublerule.png') no-repeat right bottom;

	@media (max-width: 1023px) {
		background: url('images/doublerule.png') no-repeat center top,
			url('images/doublerule.png') no-repeat center bottom;
		}
}

.page-ourstory #interiorRight ul.navOurStory {
	background: url('images/doublerule.png') no-repeat left top,
		url('images/doublerule.png') no-repeat left bottom;

	@media (max-width: 1023px) {
		background: url('images/doublerule.png') no-repeat center top,
			url('images/doublerule.png') no-repeat center bottom;
	}
}


ul.navOurStory {
	list-style-type: none;
	padding: 10px 0px;
	display: inline-block;
}

ul.navOurStory.left {
	position: relative;
	right: 20px;

	@media (max-width: 1023px) {
		right: 0;
	}
}

ul.navOurStory li {
	margin: 10px 0px;
	height: 22px;
}

ul.navOurStory li a,
.teamMember a {
	font-family: 'sheepmanlight';
	font-size: 19px;
	text-decoration: none;
	line-height: 22px;
	color: #000;
	padding: 1px 3px;
	text-transform: uppercase;
}

.teamMember a:hover,
ul.navOurStory li a:hover {
	color: #990000;
}

.teamMemberSingle h2:before {
	display: none !important;
}


ul.navOurStory li a span {
	font-family: 'Playfair Display';
	font-style: italic;
	font-size: 14px;
	text-transform: none;
}

/*ul.navOurStory li a:hover,
li.pg305.id305 a,
li.pg303.id303 a,
li.pg301.id301 a,
li.pg299.id299 a,
li.pg297.id297 a,
li.pg295.id295 a,
li.pg293.id293 a,
li.pg289.id289 a,
li.pg287.id287 a,
li.pg285.id285 a,
li.pg277.id277 a,
li.pg275.id275 a,
li.pg273.id273 a,
li.pg268.id268 a {
	color: #990000;
	background-color: #C9C4B3;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
*/

li.pg5325.id5325,
li.pg1397.id1397,
li.pg347.id347,
li.pg966.id966,
li.pg305.id305,
li.pg303.id303,
li.pg301.id301,
li.pg299.id299,
li.pg297.id297,
li.pg295.id295,
li.pg293.id293,
li.pg289.id289,
li.pg287.id287,
li.pg285.id285,
li.pg277.id277,
li.pg275.id275,
li.pg273.id273,
li.pg268.id268 {
	margin: 10px -19px;
	color: #990000;
}

li.pg5325.id5325:before,
li.pg1397.id1397:before,
li.pg347.id347:before,
li.pg966.id966:before,
li.pg305.id305:before,
li.pg303.id303:before,
li.pg301.id301:before,
li.pg299.id299:before,
li.pg297.id297:before,
li.pg295.id295:before,
li.pg293.id293:before,
li.pg289.id289:before,
li.pg287.id287:before,
li.pg285.id285:before,
li.pg277.id277:before,
li.pg275.id275:before,
li.pg273.id273:before,
li.pg268.id268:before {
	content: '';
	background: url('images/ornament-left.png') no-repeat left center;
	display: inline-block;
	height: 20px;
	width: 18px;
}

li.pg5325.id5325:after,
li.pg1397.id1397:after,
li.pg347.id347:after,
li.pg966.id966:after,
li.pg305.id305:after,
li.pg303.id303:after,
li.pg301.id301:after,
li.pg299.id299:after,
li.pg297.id297:after,
li.pg295.id295:after,
li.pg293.id293:after,
li.pg289.id289:after,
li.pg287.id287:after,
li.pg285.id285:after,
li.pg277.id277:after,
li.pg275.id275:after,
li.pg273.id273:after,
li.pg268.id268:after {
	content: '';
	background: url('images/ornament-right.png') no-repeat right center;
   display: inline-block;
    height: 20px;
    width: 18px;
}

li.pg305 { width: 250px; }

li.pg305.id305 span { display: none; }

.backtotop {
	background: url('images/top.png') no-repeat;
	background-position: left center;
    bottom: 170px;
    display: block;
    float: left;
    height: 68px;
    left: 240px;
    position: relative;
    width: 60px;
	text-indent: -10000px;

	@media (max-width: 1023px) {
		display: none;
	}
}

.backtotop:hover {
	background-position: right center;
}

img.center {
	display: block;
	margin: 0 auto;
}

.teamMember {
	margin-bottom: 25px;
}

.jobTitle {
	font-family: 'Playfair Display', Georgia, serif;
	font-style: italic;
	color: #990000;
	font-size: 15px;
	line-height: 15px;
	margin-left: 3px;
}

.teamMember.current-item a {
	margin-left: -18px;
}

.teamMember.current-item a:after {
	content: '';
	background: url('images/ornament-right.png') no-repeat right center;
   display: inline-block;
    height: 20px;
    width: 18px;
}

.teamMember.current-item a:before {
	content: '';
	background: url('images/ornament-left.png') no-repeat left center;
	display: inline-block;
	height: 20px;
	width: 18px;
}

.teamMemberSingle h1:after {
	display: none;
}

.teamMemberSingle h1 {
	margin-bottom: 0px;
}

.teamMemberSingle h2 {
	color: #000;
	font-size: 15px;
	text-align: center;
	line-height: 15px;
	margin: 10px auto;
}

.teamMemberSingle .attachment-post-thumbnail {
	float: left;
	margin: 0 15px 10px 0;
}

.contact { font-family: 'sheepmanlight'; font-size: 16px; text-align: center; text-transform: uppercase; }
a.email { display: block; text-decoration: none; color: #990000; font-size: 16px; text-align: center; }
a.email:hover { color: #000; }

/* BREADCRUMBS */

#breadcrumbs {
	clear: both;
	position: relative;
	z-index: 98;
}

#breadcrumbs div {
	font-family: 'sheepmanlight';
	text-transform: uppercase;
	letter-spacing: .15em;
	font-size: 16px;
	margin-bottom: 8px;
}

#breadcrumbs span {
	font-family: 'Playfair Display';
	font-style: italic;
	text-transform: capitalize;
	font-size: 15px;
	letter-spacing: .05em;
}

#breadcrumbs span a {
	color: #000;
	text-decoration: none;
}

#breadcrumbs span a:hover {
	color: #990000;
}

#breadcrumbs span.current {
	color: #990000;
}

#crumbs {
	@media (max-width: 1023px) {
    	margin: 0 auto;
    	width: 95%;
    }
}

body#home div#breadcrumbs {
	display: none;
}

body#offers div#breadcrumbs {
	padding-top: 80px;
}

.flex-control-nav { text-align: left !important; }

a.directionsLink {
	text-align: center;
	display: block;
	font-family: 'sheepmanlight', arial, sans-serif;
	font-size: 30px;
	margin-top: -80px;
}

a.directionsLink:after {
	content: 'to the Red Lion Inn';
	font-family: 'Playfair Display', Georgia, serif;
	font-style: italic;
	font-size: 20px;
	display: block;
	line-height: 12px;
}

#blog #interiorMiddle {
    float: left;
    margin-left: 100px;
    width: 630px !important;
    position:relative;
    z-index: 999;
}

.blogEntry {
	margin-bottom: 70px;
}

.blogEntry h1 {
	font-family: 'sheepmanlight', arial, sans-serif;
	font-size: 28px;
	text-align: center;
	border-top: 2px dotted #666666;
	border-bottom: 2px dotted #666666;
	font-style: normal;
	color: #000;
	padding: 6px 0;
}

.blogEntry h1:after {
	display: none;
}

.blogDate {
	display: block;
	background: url('images/blogDate.png') no-repeat;
	height: 54px;
	width: 102px;
	color: #FBF4E0;
	margin: 20px auto;
	padding: 25px 0px;
	text-align: center;
}

.blogDate .blogMonth {
    display: block;
    font-family: 'Playfair Display',Georgia,serif;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.02em;
    text-transform: lowercase;
}

.blogDate .blogDay {
	display: block;
	font-family: 'sheepmanlight', arial, sans-serif;
	font-size: 30px;
	line-height: 25px;
	letter-spacing: .075em;
}

.blogSideNav { background: url('images/blogSideNav_Items.png'); }

.blogSide1 { height: 50px; background-position: 0 0; }
.blogSide2 { height: 50px; background-position: 0 -85px; }
.blogSide3 { height: 50px; background-position: 0 -170px; }
.blogSide4 { height: 50px; background-position: 0 -255px; }

.blogSide1:hover { height: 50px; background-position: -122px 0; }
.blogSide2:hover { height: 50px; background-position: -122px -85px; }
.blogSide3:hover { height: 50px; background-position: -122px -170px; }
.blogSide4:hover { height: 50px; background-position: -122px -255px; }

body#blog #sideNav {
	margin-right: 60px;
}

.blogHeader {
    font-family: 'Playfair Display',Georgia,serif;
	font-style: italic;
	margin-top: -70px;
	margin-bottom: 50px;
	text-align: center;
}

.blogHeader h1 span {
	display: block;
	font-family: 'sheepmanlight', arial, sans-serif;
	font-size: 37px;
	line-height: 40px;
	letter-spacing: .1em;
	font-style: normal;
	text-transform: uppercase;
}

a.bookGroupEvent {
	display: block;
	background: url('images/meet/book_a_group_event.png') no-repeat;
	text-indent: -10000px;
	width: 80px;
	height: 91px;
	background-position: left top;
	margin: 20px 67px;
	position: relative;

	@media (max-width: 1023px) {
		margin: 20px auto;
	}
}

a.bookGroupEvent.sideboard {
	margin: 20px auto !important;
}

a.bookGroupEvent:hover {
	background-position: right top;
	cursor: pointer;
}

/* ----- events ----- */

.eventEntry {
	border-bottom: 2px dotted #666;
	padding: 20px 0px 20px;
	position: relative;
	letter-spacing: .05em;
	width: 800px;
	margin: 0 auto;

	@media (max-width: 1023px) {
		width: 100%;
	}
}

body#lionsden .eventEntry {
	width: 600px !important;
}

.eventEntry:last-child {
	border-bottom: none;
}

.eventDate {
	width: 54px;
	height: 54px;
	border-radius: 37px;
	background-color: #990000;
	margin: 0px 10px;
	float: left;
	position: absolute;
	color: #FBF5DE;
	font-family: 'Playfair Display', Georgia, serif;
	font-size: 27px;
	text-align: center;
	line-height: 24px;
	text-transform: lowercase;
	padding: 10px;

	@media (max-width: 1023px) {
		float: none;
		margin: 0 auto 20px auto;
		position: static;
	}
}

.eventDetails {
	margin-left: 105px;
	border-left: 1px solid #666;
	padding: 5px 0px 15px 25px;
	line-height: 145%;

	@media (max-width: 1023px) {
		float: none;
		margin: 0 auto;
		display: block;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		border-left: 0;
	}
}

.page-id-534 .eventDetails {
//	border-left: none;
}

.tribe_events p:first-child:first-letter {
	padding: 0px !important;
	line-height: 40px !important;
	font-size: 40px !important;
	margin-right: 0px;
}

.eventName {
	font-family: 'sheepmanlight', arial, sans-serif;
	font-size: 26px;

	@media (max-width: 1023px) {
		text-align: center;
		padding-bottom: 10px;
	}
}

#calendarWrap {
	margin-top: 180px;

	@media (max-width: 1023px) {
		margin-top: 0;
	}
}

#tribe-events-pg-template {
	@media (max-width: 1023px) {
		padding-top: 0 !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

.tribe-events-calendar-buttons {
	@media (max-width: 1023px) {
		display: none;
	}
}

#tribe-events-content {
	@media (max-width: 1023px) {
		padding-left: 0 !important;
		padding-right: 0 !important;
		width: 90% !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}

body.single-tribe_events .entry-title { margin-left: 95px; }
body.single-tribe_events .entry-title:after { margin-left: 18%; }

span.back {
	display: block;
	margin: 30px auto;
	font-family: 'Oswald', arial, sans-serif !important;
	text-align: center;
}

.eventDescription, .tribe-events-single-event-description {
	font-family: 'Playfair Display', Georgia, serif;
}

.event-passed {
	margin-top: 0px !important;
	background-color: #FBEDBC !important;
	border: 1px solid #990000 !important;
	color: #000 !important;
}

.entry-content { margin-top: 40px; letter-spacing: .05em; }

.eventDate span {
  display:block;
  font-size:50%;
  margin-top:13px;
  color: #990000;
  letter-spacing: normal !important;
}

.tribe-events-single {
	width: 600px;
	margin: 0 auto;
}

ul.tribe-events-sub-nav {
	padding: 0px;
}

.tribe-events-button {
	padding: 6px 9px 4px !important;
}

#tribe-events-content table.tribe-events-calendar {
	@media (max-width: 1024px) {
		width: auto !important;
	}
}

body#lionsden .tribe-events-calendar td div[id*="tribe-events-daynum-"],
body#lionsden .tribe-events-calendar td div[id*="tribe-events-daynum-"] a {
	background-color: #000000;
}

/* WEATHER */

div#weather {
	font-family: 'Oswald', arial, sans-serif;
	width: 110px;
	float: right;
	left: 240px;
	top: -90px;
	position: relative;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: .02em;
}

div.weatherTemp {
	color: #990000;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 4px;
}

img.weatherImg {
	width: 85px;
    opacity: 0.85;
    margin: 0 0 -18px 18px;
}

/* MENU & WINE LIST */

h3.menuCategory {
	font-family: 'sheepmanlight', arial, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	display: inline-block;
	padding: 0 10px;
	font-size: 22px;
	line-height: 34px;
	letter-spacing: .05em;
}

h3.menuCategory:before {
	content: "";
	display: block;
	float: left;
	width: 12px;
	height: 32px;
	background-image: url('images/circleornament-left.png');
	margin: 0 10px;
}

h3.menuCategory:after {
	content: "";
	display: block;
	float: right;
	width: 12px;
	height: 32px;
	background-image: url('images/circleornament-right.png');
	margin: 0 10px;
}

.menuItem {
	font-family: "Playfair Display", Georgia, Serif;
	margin: 20px auto;
}

.menuPrice {
	color: #990000;
}

.menuDescription {
	font-style: italic;
	display: block;
	font-size: 90%;
	letter-spacing: .075em;
}

.menuCategoryDesc {
	font-style: italic;
	font-size: 90%;
	letter-spacing: .075em;
	font-family: "Playfair Display", Georgia, Serif;
	margin: 20px auto;
	width: 50%;
}

/* OPEN TABLE OVERRIDE */

.OT_title { text-align: center !important; }
.OT_subtitle { font-family: 'oswald', arial, sans-serif; }

#OT_timeList, #OT_partyList {
	width: 107px !important;
	left: 40px !important;
	top: 37px !important;
}

.OT_day, .OT_time, .OT_party {
	padding: 9px 10px 15px 25px !important;
}
.ui-icon { color: rgba(0, 0, 0, 0.00) !important; }


#homeSlider {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

#homeSlider .flexslider {
	position: absolute;
	z-index: -999;
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0px !important;
}

@media screen and (min-height:1159px) {
#homeSlider .flexslider .slides {
	height: 100%;
	width: 100%;
	position: absolute;
}
}
@media screen and (max-height:1158px) {
#homeSlider .flexslider .slides {
	height: 1159px;
	width: 100%;
	position: absolute;
}
}

#homeSlider .flexslider .slides li {
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center center;
}

#homeSlider .flex-control-nav,
#homeSlider .flex-direction-nav {
	display: none;
}


ul.gform_fields {
	font-style: normal !important;
	line-height: 100% !important;
}

.gform_body {
	float: left;
}

.gform_body label {
	font-style: normal !important;
}

.gfield_label {
	font-family: 'sheepmanlight', arial, helvetica;
	font-weight: normal !important;
	text-transform: uppercase;
	font-size: 125%;
}

.gfield {
	margin-bottom: 15px;
}

.gform_wrapper textarea, .gform_wrapper input[type="text"], .gform_wrapper input[type="url"], .gform_wrapper input[type="email"], .gform_wrapper input[type="tel"], .gform_wrapper input[type="number"], .gform_wrapper input[type="password"] {
	font-size: 13px !important;
	letter-spacing: inherit !important;
}

.gfield_select, .ginput_container input {
	font-family: Helvetica, arial, sans-serif !important;
}


/* global image styles */

.alignright {
	margin: 0 0 20px 20px;
	border: 1px solid #404040;
}

.alignleft {
	margin: 0 20px 20px 0;
	border: 1px solid #404040;
}


/* GLOBAL AMPERSAND OVERRIDE */

.amp {
	font-family: 'Playfair Display', Georgia, sans-serif !important;
	display: inline !important;
}

.OT_feedTitle {
	font-family: 'sheepmanlight', arial, helvetica;
	font-style: normal;
	text-transform: uppercase;
	font-size: 18px !important;
	color: #000;
}

#OT_searchWrapperAll { margin-top: 40px !important; }


/* SHOP LANDING PAGE */

.shopHours {
	font-style: italic;
	text-align: center;
	font-family: 'Playfair Display', Georgia, sans-serif !important;
	line-height: 150%;
	margin-top: -20px;
}

.shopHours img { margin-bottom: 20px; }

.shopHours span { display: block; }

.shopTimes {
	font-family: 'sheepmanlight', arial, helvetica;
	font-weight: normal !important;
//	text-transform: uppercase;
	font-style: normal !important;
	font-size: 125%;
	margin-bottom: 10px;
	letter-spacing: .1em;
}

.shopDivider {
	background: url("images/nav2-ornament.png") no-repeat scroll center top transparent;
	display: block;
	height: 6px;
	margin: 20px 0;
}

#interiorRight.shop {
	width: 250px;
	margin: 40px 60px 0px 0px;
}

#shopLandingPlate {
//    margin-left: 93px;
	margin-left: -5px;
	margin-top: -550px;
    position: relative;
    z-index: 999;

    @media (max-width: 1023px) {
		position: static;
		display: block;
		margin: 10px auto;
	}
}

body#shop #interiorWrap {
	margin-top: 200px !important;

	@media (max-width: 1023px) {
		margin-top: 0 !important;
	}
}

body#shop #interiorMiddle {
	margin-top: -80px;
	position: relative;
	z-index: 999;
	width: 260px;
}

body#shop #interiorLeft {
	width: 310px;
	padding-left: 40px;

	@media (max-width: 1023px) {
		padding-left: 0;
		width: 100%;
	}
}

/*** NEXTGEN GALLERY OVERRIDES ***/

.ngg-galleryoverview { clear: none !important; }
#ngg-gallery-5321-2465 .ngg-gallery-thumbnail-box {
	width: 47% !important;
}

/** PRINT STYLES ***/

@media print {
	#interiorLeft,
	#interiorRight,
	#sideNavWide,
	#sideNav,
	#roomPlate,
	#masthead,
	.flexslider,
	#navSecond,
	#below,
	.viewMenu {
	display: none;
	}

	#interiorWrap {
		margin-top: 50px;
	}

	#interiorMiddle,
	#interiorMiddleWrap {
		width: 90% !important;
		margin: 0px auto;
	}



}


a.hcCredit {
	font-size: 10px;
	text-decoration: underline;
}

.package-price-crossout {
	text-decoration: line-through;
}
