#denBottom,
#denWrap,
#tribe-events-calendar-header,
#wpadminbar { 
	display: none; 
}

#denBody {
	margin: 0px;
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 0px;
	float: none;
	padding: 0px;
	padding-top: 50px;
}

.tribe-events-calendar {
	margin-top: 30px;
	height: 100%;
}

